<template>
  <div class="ani-wysiwyg-wrapper">
    <div v-if="label" class="ani-wysiwyg-label">
      {{ label }}
    </div>
    <div v-if="editor" class="ani-wysiwyg form-group">
      <AniWysiwygToolbar v-bind="{ editor, headings, links, lists, history, setLink }" />

      <div class="ani-wysiwyg-content">
        <AniWysiwygBubbleMenu v-if="hasBubbleMenu" v-bind="{ editor, links, setLink }" />
        <editor-content :editor="editor" />
      </div>
    </div>
  </div>
</template>

<script>
import { Editor, EditorContent } from '@tiptap/vue-2'
import StarterKit from '@tiptap/starter-kit'

import Highlight from '@tiptap/extension-highlight'
import Heading from '@tiptap/extension-heading'
import Link from '@tiptap/extension-link'

import Placeholder from '@tiptap/extension-placeholder'

export default {
  components: { EditorContent },

  props: {
    text: {
      type: String,
      required: false,
      default: ''
    },

    placeholder: {
      type: String,
      required: false,
      default: 'Commencez à écrire !'
    },

    hasBubbleMenu: {
      type: Boolean,
      required: false,
      default: false
    },

    headings: {
      type: Array,
      required: false,
      default: () => [1, 2, 3]
    },

    links: {
      type: Boolean,
      required: false,
      default: false
    },

    lists: {
      type: Boolean,
      required: false,
      default: false
    },

    history: {
      type: Boolean,
      required: false,
      default: true
    },

    label: {
      type: String,
      default: ''
    }
  },

  data () {
    return {
      editor: null,
      emitAfterOnUpdate: false
    }
  },

  mounted () {
    this.editor = new Editor({
      content: this.text,

      onUpdate: () => {
        this.emitAfterOnUpdate = true
        this.$emit('input', this.editor.getHTML())
      },

      extensions: [
        StarterKit,
        Highlight,

        Heading.configure({
          levels: this.headings
        }),
        Link.configure({
          openOnClick: false
        }),

        Placeholder.configure({
          placeholder: this.placeholder
        })
      ]
    })
  },

  beforeDestroy () {
    this.editor?.destroy()
  },

  methods: {
    setLink () {
      const url = window.prompt('URL')

      if (url) {
        this.editor.chain().focus().setLink({ href: url }).run()
      }
    }
  }
}
</script>

<style lang="scss">
.ani-wysiwyg-wrapper {
  .ani-wysiwyg-label {
    display: block;
    margin-bottom: 10px;
    font-weight: $fw-bold;
  }
  .ani-wysiwyg {
    background: $white;
    border: 1px solid transparent;
    border-bottom-color: $gray-300;

    &:focus-within {
      border-color: $primary;
    }

    // "Textarea" content
    .ani-wysiwyg-content {
      min-height: 180px;

      > * {
        min-height: inherit;
      }

      .ProseMirror {
        min-height: inherit;
        padding: 15px;
        transition: box-shadow 0.2s ease;

        /* Placeholder (at the top) */
        p.is-editor-empty:first-child::before {
          content: attr(data-placeholder);
          float: left;
          color: $gray-200;
          pointer-events: none;
          height: 0;
        }

        &-focused {
          outline: none !important;
        }
      }
    }
  }
}
</style>
