<template>
  <bubble-menu v-if="editor" :editor="editor">
    <span>
      <button class="ani-wysiwyg-action" :class="{ 'active': editor.isActive('bold') }" @click="editor.chain().focus().toggleBold().run()">
        <font-awesome-icon :icon="['fas', 'bold']" />
      </button>
      <button class="ani-wysiwyg-action" :class="{ 'active': editor.isActive('italic') }" @click="editor.chain().focus().toggleItalic().run()">
        <font-awesome-icon :icon="['fas', 'italic']" />
      </button>
      <button class="ani-wysiwyg-action" :class="{ 'active': editor.isActive('strike') }" @click="editor.chain().focus().toggleStrike().run()">
        <font-awesome-icon :icon="['fas', 'strikethrough']" />
      </button>
    </span>

    <span v-if="links">
      <button title="Ajouter un lien" class="ani-wysiwyg-action" @click="setLink">
        <font-awesome-icon :icon="['fas', 'link']" />
      </button>
      <button title="Supprimer le lien" class="ani-wysiwyg-action" :class="{ 'active': editor.isActive('link') }" @click="editor.chain().focus().unsetLink().run()">
        <font-awesome-icon :icon="['fas', 'unlink']" />
      </button>
    </span>
  </bubble-menu>
</template>

<script>
import { Editor, BubbleMenu } from '@tiptap/vue-2'

export default {
  components: { BubbleMenu },

  props: {
    editor: {
      type: Editor,
      required: true
    },

    links: {
      type: Boolean,
      required: false,
      default: false
    },

    setLink: {
      type: Function,
      required: true
    }
  }
}
</script>

<style>

</style>
