<template>
  <div class="ani-wysiwyg-toolbar">
    <div class="toolbar-row">
      <button
        v-for="level in headings"
        :key="level"
        :title="`Titre niveau ${level}`"
        class="ani-wysiwyg-action"
        :class="{ 'active': editor.isActive('heading', { level: level }) }"
        @click="editor.chain().focus().toggleHeading({ level: level }).run()"
      >
        <span class="fw-bold">H<sub>{{ level }}</sub></span>
      </button>

      <button title="Paragraphe" class="ani-wysiwyg-action" :class="{ 'active': editor.isActive('paragraph') }" @click="editor.chain().focus().setParagraph().run()">
        <span class="fw-bold">Paragraphe</span>
      </button>

      <span>
        <button title="Gras" class="ani-wysiwyg-action" :class="{ 'active': editor.isActive('bold') }" @click="editor.chain().focus().toggleBold().run()">
          <font-awesome-icon :icon="['fas', 'bold']" />
        </button>
        <button title="Italique" class="ani-wysiwyg-action" :class="{ 'active': editor.isActive('italic') }" @click="editor.chain().focus().toggleItalic().run()">
          <font-awesome-icon :icon="['fas', 'italic']" />
        </button>
        <button title="Barré" class="ani-wysiwyg-action" :class="{ 'active': editor.isActive('strike') }" @click="editor.chain().focus().toggleStrike().run()">
          <font-awesome-icon :icon="['fas', 'strikethrough']" />
        </button>
      </span>

      <span v-if="lists">
        <button title="Liste à puces" class="ani-wysiwyg-action" :class="{ 'active': editor.isActive('bulletList') }" @click="editor.chain().focus().clearNodes().toggleBulletList().run()">
          <font-awesome-icon :icon="['fas', 'list-ul']" />
        </button>
      </span>

      <span v-if="links">
        <button title="Ajouter un lien" class="ani-wysiwyg-action" @click="setLink">
          <font-awesome-icon :icon="['fas', 'link']" />
        </button>
        <button title="Supprimer le lien" class="ani-wysiwyg-action" :class="{ 'active': editor.isActive('link') }" @click="editor.chain().focus().unsetLink().run()">
          <font-awesome-icon :icon="['fas', 'unlink']" />
        </button>
      </span>

      <span v-if="history">
        <button title="Annuler" class="ani-wysiwyg-action" @click="editor.chain().focus().undo().run()">
          <font-awesome-icon :icon="['fas', 'undo-alt']" />
        </button>
        <button title="Rétablir" class="ani-wysiwyg-action" @click="editor.chain().focus().redo().run()">
          <font-awesome-icon :icon="['fas', 'redo-alt']" />
        </button>
      </span>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import { Editor } from '@tiptap/vue-2'

export default Vue.extend({
  props: {
    editor: {
      type: Editor,
      required: true
    },

    headings: {
      type: Array,
      default: () => [1, 2, 3]
    },

    links: {
      type: Boolean,
      required: false,
      default: false
    },

    lists: {
      type: Boolean,
      required: false,
      default: false
    },

    history: {
      type: Boolean,
      required: false,
      default: true
    },

    setLink: {
      type: Function,
      required: true
    }
  }
})
</script>

<style lang="scss" scoped>

.ani-wysiwyg-toolbar {
  background: $gray-100;

  .ani-wysiwyg-action {
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      background: $gray-200;
    }

    &.active {
      background: $primary-light;
    }
  }
}

</style>
