<template>
  <div
    class="ani-like-wrapper"
    :class="{
      'liked': liked,
      'd': !$auth.loggedIn,
      'has-action': hasAction
    }"
    @click="toggleFavorite"
  >
    <span class="ani-like-counter">{{ Math.floor(Math.random() * (100)) }}</span>

    <button
      class="ani-like-toggle"
      title="Coup de coeur"
    >
      <span v-if="liked">
        <font-awesome-icon :icon="['fas', 'heart']" size="lg" />
      </span>
      <span v-else>
        <font-awesome-icon :icon="['far', 'heart']" size="lg" />
      </span>
    </button>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { Pet } from '~/models/pets/Pet'
import { Adopter } from '~/models/users/Adopter'
import { accountType } from '~/utils/types'

export default Vue.extend({
  props: {
    favourites: {
      type: [] as PropType<Pet[]>,
      required: true
    },

    petUuid: {
      type: String,
      required: true
    },

    hasAction: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  computed: {
    liked (): Boolean {
      if (this.$auth.loggedIn && accountType(this.$auth.user) === 'adopter') {
        if (this.favourites.find(pet => pet.uuid === this.petUuid)) {
          return true
        }
        return false
      } else {
        return false
      }
    }
  },

  methods: {
    async toggleFavorite () {
      if (this.$auth.loggedIn && accountType(this.$auth.user) === 'adopter') {
        const currentUser = this.$auth.$storage.getState('user') as Adopter

        await this.$api.users.adopters.toggleFavouritePet(currentUser.uuid, this.petUuid)
      } else if (!this.$auth.loggedIn) {
        this.$router.push('/sign-in')
      }
    }
  }
})
</script>

<style lang="scss" scoped>
.ani-like-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: $fs-small;
  font-weight: $fw-bold;

  .ani-like-counter {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Nunito';
    margin-right: 3px;
  }

  .ani-like-toggle {
    position: relative;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    border: none;
    background: none;

    &:after {
      position: absolute;
      display: block;
      content: '';
      height: 26px;
      width: 26px;
      top: -5px;
      left: -4px;
      border-radius: 26px;
      background-color: rgba($red, 15%);
      transform: scale(0);
      transition: transform 0.1s ease;
    }
  }

  &.liked {
    .ani-like-counter,
    .ani-like-toggle {
      color: $red;
    }
  }

  &:not(.liked) {
    .ani-like-counter,
    .ani-like-toggle {
      color: $gray-500
    }

    &.has-action {
      &:hover {
        .ani-like-counter,
        .ani-like-toggle {
          color: $red;
        }

        .ani-like-toggle {
          &:after {
            transform: scale(1);
          }
        }
      }
    }

    &.has-action,
    &.d {
      cursor: pointer;
      .ani-like-toggle {
        cursor: pointer;
      }
    }
  }
}
</style>
