<template>
  <div class="pet-list-wrapper">
    <ul v-if="pets.length > 0" class="feed-list pet-list no-style">
      <li v-for="pet in pets" :key="pet.uuid" class="pet-list-item">
        <AniPetsCard
          :pet="pet"
          :big="big"
          :small="small"
          :simple="simple"
          :deployable="deployable"
          :editable="editable"
          :favourites="favourites"
        />
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { Pet } from '~/models/pets/Pet'

export default Vue.extend({
  props: {
    pets: {
      type: [] as PropType<Pet[]>,
      required: true
    },

    big: {
      type: Boolean,
      required: false,
      default: false
    },
    small: {
      type: Boolean,
      required: false,
      default: false
    },
    simple: {
      type: Boolean,
      required: false,
      default: false
    },

    deployable: {
      type: Boolean,
      required: false,
      default: false
    },
    editable: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  data () {
    return {
      favourites: [] as Array<Pet>
    }
  },

  async fetch () {
    this.favourites = await this.$api.users.adopters.getFavouritePets(this.$auth.user?.uuid as string)
  }
})
</script>
