<template>
  <div class="ani-slider-wrapper">
    <div class="ani-slider-inner">
      <swiper v-if="pets.length > 2" :options="swiperOptions">
        <swiper-slide v-for="pet in pets" :key="pet.uuid">
          <AniPetsCard
            :pet="pet"
            small
            simple
            :class="'cursor-pointer'"
            @click.native="goToPetPage(pet.uuid)"
          />
        </swiper-slide>
      </swiper>

      <div v-else-if="pets.length != 0" class="ani-slider-fallback">
        <AniPetsCard
          v-for="pet in pets"
          :key="pet.uuid"
          :pet="pet"
          small
          simple
          :class="'cursor-pointer'"
          @click.native="goToPetPage(pet.uuid)"
        />
      </div>

      <div v-else class="add-pet-btn">
        <nuxt-link v-if="editMode" to="./new-pet" append>
          <font-awesome-icon :icon="[ 'fas', 'plus-square' ]" />
        </nuxt-link>
      </div>

      <div v-if="editMode && pets.length > 0" class="add-pet-btn fallback">
        <nuxt-link to="./new-pet" append>
          <font-awesome-icon :icon="[ 'fas', 'plus-square' ]" class="add-pet-btn-icon" />
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

import { Swiper, SwiperSlide, directive } from 'vue-awesome-swiper'

import 'swiper/swiper.min.css'

import { Pet } from '~/models/pets/Pet'

export default Vue.extend({
  components: {
    Swiper,
    SwiperSlide
  },

  directives: {
    swiper: directive
  },

  props: {
    pets: {
      type: [] as PropType<Pet[]>,
      required: true
    },
    editMode: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  data () {
    return {
      swiperOptions: {
        slidesPerView: 1,
        slidesPerGroup: 1,
        breakpoints: {
          799: {
            slidesPerView: 3,
            slidesPerGroup: 3
          }
        }
      }
    }
  },

  methods: {
    goToPetPage (petUuid: number) {
      this.$router.push(`/animals/${petUuid}`)
    }
  }
})
</script>

<style lang="scss" scoped>
.ani-slider-fallback {
  display: flex;
  align-items: stretch;
}

.ani-slider-inner {
  display: flex;
  align-items: stretch;

  .swiper-container {
    flex-grow: 1;
  }

  > * {
    padding-top: calc(35px / 2);
    padding-bottom: calc(35px / 2);
  }

  .add-pet-btn {
    min-width: 100px;
    width: 100%;
    text-align: center;

    &.fallback {
      max-width: 100px;
    }

    a {
      padding: 20px;
      position: relative;
      display: block;
      min-height: calc(100% - 20px);
      border-radius: $ani-card-border-radius;
      color: $white;
      background: $primary;
      font-size: $fs-regular;
      text-decoration: none;
      @include drop-shadow();

      .add-pet-btn-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        background: darken($primary, 10%);
      }
    }
  }
}
</style>

<style lang="scss">
.ani-slider-inner {
  .ani-card-wrapper {
    position: relative;

    .ani-card {
      position: relative;
      margin-right: 35px;
    }

    &.has-actions {
      .ani-card-actions {
        right: calc(35px / 2) !important;
      }
    }
  }
}
</style>
