<template>
  <div
    class="ani-card-wrapper"
    :class="[
      { 'has-actions': hasActions },
      { 'deployable': isDeployable }
    ]"
  >
    <section
      class="ani-card"
      :class="[
        { 'sos': renderedPet.isSos },
        { 'full': full },
        { 'big': big },
        { 'small': small }
      ]"
    >
      <figure class="ani-card-cover" :style="hasCoverPhoto || newImageCover.contentUrl ? { 'background-image': `url(${imageCover})` } : { 'background-image': `url(${mainPhotoSample})` }">
        <div v-if="editMode" class="ani-card-cover-prompt">
          <input id="petMainImage" type="file" hidden @change="handleNewImage">
          <label for="petMainImage">Modifier la photo</label>
        </div>
      </figure>

      <header
        class="ani-card-header"
      >
        <div class="container-fluid">
          <div
            v-if="!editMode"
            class="row align-center"
          >
            <!-- Regular Pet Card View -->
            <div
              :class="simple ? 'col-md-12' : 'col-md-5'"
            >
              <h3
                class="ani-card-title"
              >
                {{ renderedPet.name }}
              </h3>
              <div
                v-if="!simple"
                class="ani-card-subtitle"
              >
                <small>
                  <a v-if="renderedPet.shelter.account.city" :href="`https://maps.google.com/?q=${renderedPet.shelter.account.city}`" target="_blank">{{ renderedPet.shelter.account.city }}</a>
                  <span>·</span>
                  <span v-if="datePosted">{{ datePosted }}</span>
                </small>
              </div>
            </div>

            <div
              v-if="!simple"
              class="pet-info col-md-7"
            >
              <div>
                <AtoBadge
                  v-if="renderedPet.isSos"
                  variant="red"
                >
                  <template slot="icon">
                    <font-awesome-icon :icon="[ 'fas', 'clock' ]" />
                  </template>
                  <span>Adoption urgente !</span>
                </AtoBadge>
                <AtoBadge v-if="renderedPet.isMale">
                  <template slot="icon">
                    <font-awesome-icon :icon="[ 'fas', 'mars' ]" />
                  </template>
                  <span>Mâle</span>
                </AtoBadge>

                <AtoBadge v-else>
                  <template slot="icon">
                    <font-awesome-icon :icon="[ 'fas', 'venus' ]" />
                  </template>
                  <span>Femelle</span>
                </AtoBadge>

                <AtoBadge v-if="renderedPet.birthday">
                  <template slot="icon">
                    <font-awesome-icon :icon="[ 'fas', 'calendar' ]" />
                  </template>
                  <span>4 mois</span>
                </AtoBadge>
              </div>

              <AtoBadge v-if="renderedPet.species">
                <template slot="icon">
                  <font-awesome-icon :icon="[ 'fas', 'paw' ]" />
                </template>
                <span>{{ renderedPet.species.name }}</span>
              </AtoBadge>

              <span v-if="renderedPet.breeds.length > 0">
                <AtoBadge v-for="breed in renderedPet.breeds" :key="breed.id">
                  <template slot="icon">
                    <font-awesome-icon :icon="[ 'fas', 'paw' ]" />
                  </template>
                  <span>{{ breed.name }}</span>
                </AtoBadge>
              </span>
            </div>
          </div>

          <div v-else>
            <!-- Edit Pet Card -->
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                  <AtoInput
                    id="pet-name"
                    v-model="editingPet.name"
                    :error="Boolean(errors.editingPet.name)"
                    label="Titre de la fiche"
                    required
                  />
                </div>

                <div class="col-md-6">
                  <AtoInput
                    id="pet-id-number"
                    v-model="editingPet.identificationNumber"
                    :error="Boolean(errors.editingPet.identificationNumber)"
                    label="Numéro d'identification officiel"
                    required
                  >
                    <template slot="label-help">
                      <a href="https://agriculture.gouv.fr/lidentification-des-animaux-de-compagnie-une-obligation-legale-qui-les-protege" target="_blank" title="Qu'est ce que c'est ?">
                        <font-awesome-icon :icon="[ 'fas', 'question-circle' ]" />
                      </a>
                    </template>
                  </AtoInput>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <AtoPetsSpeciesSelect
                    v-model="editingPet.species"
                  />
                </div>

                <div class="col-md-8">
                  <AtoPetsBreedSelect
                    v-model="editingPet.breeds"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <AtoSwitch
                    id="pet-gender"
                    v-model="editingPet.isMale"
                    primary-label="Mâle"
                    secondary-label="Femelle"
                  />

                  <AtoSwitch
                    id="pet-sterilised"
                    v-model="editingPet.isSterilised"
                    :primary-label="(editingPet.isMale) ? 'Stérilisé' : 'Stérilisée'"
                    :secondary-label="(editingPet.isMale) ? 'Non-stérilisé' : 'Non-stérilisée'"
                  />

                  <AtoSwitch
                    id="pet-sos"
                    v-model="editingPet.isSos"
                    primary-label="Adoption urgente"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <AniWysiwyg
                    v-model="editingPet.description"
                    :text="editingPet.description"
                    :headings="[3, 4, 5]"
                    links
                    lists
                    label="Description"
                    placeholder="Comment décririez-vous cet animal ?"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <AtoPetsTagSelect
                    v-model="editingPet.tags"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div
        v-if="deployed || full"
        class="ani-card-body"
      >
        <div v-if="!editMode">
          <div
            class="pet-description"
            v-html="renderedPet.description"
          />

          <ul
            v-if="renderedPet.tags"
            class="pet-tags no-style inline"
          >
            <li v-for="tag in renderedPet.tags" :key="tag.id">
              <AtoTag to="/animals">
                {{ tag.name }}
              </AtoTag>
            </li>
          </ul>
        </div>
      </div>

      <footer
        v-if="!small || big"
        class="ani-card-footer"
      >
        <AtoButton
          v-if="$nuxt.$route.path != `/animals/${renderedPet.uuid}`"
          :to="`/animals/${renderedPet.uuid}`"
          variant="primary"
          small
          inline
        >
          Fiche Anidopt
        </AtoButton>

        <AtoButton
          v-if="$nuxt.$route.path != `/r/${renderedPet.shelter.slug}`"
          :to="`/r/${renderedPet.shelter.slug}`"
          variant="primary"
          ghost
          small
          inline
        >
          Voir le refuge
        </AtoButton>
      </footer>
    </section>

    <aside
      v-if="hasActions"
      class="ani-card-actions"
    >
      <div class="ani-card-sticky">
        <div
          v-if="!editMode"
          class="ani-card-action"
        >
          <AtoRoundIconButton
            variant="blue"
            title="Editer la fiche animal"
            @click.native="enableEditing()"
          >
            <font-awesome-icon v-if="editModeLoading" :icon="[ 'fas', 'circle-notch' ]" spin />
            <font-awesome-icon v-else :icon="[ 'fas', 'edit' ]" />
          </AtoRoundIconButton>
        </div>

        <div v-else>
          <div class="ani-card-action">
            <AtoRoundIconButton
              variant="green"
              title="Sauvegarder les modifications"
              :disabled="deletingInProgress ? true : false"
              @click.native="updatePet()"
            >
              <font-awesome-icon v-if="editingInProgress" :icon="[ 'fas', 'circle-notch' ]" spin />
              <font-awesome-icon v-else :icon="[ 'fas', 'check' ]" />
            </AtoRoundIconButton>
          </div>

          <div class="ani-card-action">
            <AtoRoundIconButton
              variant="red"
              :disabled="editingInProgress || deletingInProgress ? true : false"
              title="Abandonner les modifications"
              @click.native="abandonEditing()"
            >
              <font-awesome-icon :icon="[ 'fas', 'times' ]" />
            </AtoRoundIconButton>
          </div>

          <div class="ani-card-action">
            <AtoRoundIconButton
              variant="black"
              :disabled="editingInProgress ? true : false"
              :title="deletingConfirmed ? 'Confirmer la suppression ?' : 'Retirer la fiche animal'"
              @click.native="deletingConfirmed ? deletePet() : requestDelete()"
            >
              <font-awesome-icon v-if="deletingConfirmed" :icon="[ 'fas', 'check' ]" />
              <font-awesome-icon v-else-if="deletingInProgress" :icon="[ 'fas', 'circle-notch' ]" spin />
              <font-awesome-icon v-else :icon="[ 'fas', 'eraser' ]" />
            </AtoRoundIconButton>
          </div>
        </div>
      </div>

      <div class="ani-card-sticky">
        <div
          v-if="isDeployable"
          class="ani-card-action"
        >
          <AtoRoundIconButton
            variant="secondary"
            :title="(deployed) ? 'Afficher moins d\'informations' : 'Aficher plus d\'informations'"
            @click.native="deployCard()"
          >
            <font-awesome-icon :icon="(deployed) ? ['fas', 'angle-double-up'] : ['fas', 'angle-double-down']" />
          </AtoRoundIconButton>
        </div>
      </div>
    </aside>
  </div>
</template>

<script lang="ts">
import mixins from 'vue-typed-mixins'
import { PetCard } from '~/mixins/Cards'
import { MediaObject } from '~/models/pets/MediaObject'
import { Pet } from '~/models/pets/Pet'

export default mixins(PetCard).extend({
  data () {
    return {
      hasActions: true,

      editMode: false,
      editModeLoading: false,
      editingInProgress: false,

      deletingConfirmed: false,
      deletingInProgress: false,

      editingPet: {} as any,
      newImageCover: {} as MediaObject,

      errors: {
        editingPet: {
          name: '',
          description: '',
          identificationNumber: ''
        }
      }
    }
  },

  computed: {
    imageCover (): string {
      if (this.newImageCover.contentUrl) {
        return `${this.$api.baseUrl}/${this.newImageCover.contentUrl}`
      } else {
        return `${this.$api.baseUrl}/${this.renderedPet.mainImage.contentUrl}`
      }
    }
  },

  methods: {
    async enableEditing () {
      this.editingPet = { ...this.renderedPet }

      if (this.editModeLoading) {
        return
      }

      this.editModeLoading = true
      await Promise.all(
        [
          this.$store.dispatch('pets/loadBreeds', this.$api),
          this.$store.dispatch('pets/loadTags', this.$api),
          this.$store.dispatch('pets/loadSpecies', this.$api)
        ]
      )
      this.editMode = true
      this.editModeLoading = false
    },

    async abandonEditing () {
      if (this.editingInProgress) {
        return
      }

      // The pet needs to be refreshed if it was partially modified
      this.editingPet = { ...this.renderedPet }

      if (this.newImageCover.contentUrl) {
        try {
          await this.$api.media.deleteOne(this.newImageCover['@id'])
        } catch (err) {
          console.log(err)
        }
      }

      this.newImageCover = {} as MediaObject
      this.editMode = false
    },

    async updatePet () {
      this.editingInProgress = true

      // Delete old picture if the cover changed
      if (this.newImageCover.contentUrl) {
        this.editingPet.mainImage = this.newImageCover
      }

      // Updates the pet from editingPet
      try {
        this.renderedPet = await this.$api.users.shelters.updatePetFromShelter(this.renderedPet.uuid, this.editingPet) as Pet
      } catch (err) {
        console.log(err)
      }

      this.newImageCover = {} as MediaObject
      this.editMode = false
      this.editingInProgress = false
    },

    handleNewImage (e: any) {
      const files = e.target.files || e.dataTransfer.files
      this.uploadNewImage(files[0])
    },

    async uploadNewImage (file: File) {
      this.editingInProgress = true

      this.newImageCover = await this.$api.media.addOne(file)

      this.editingInProgress = false
    },

    requestDelete () {
      if (this.editingInProgress) {
        return
      }

      this.deletingConfirmed = true
      setTimeout(() => {
        this.deletingConfirmed = false
      }, 5000)
    },

    async deletePet () {
      if (this.editingInProgress) {
        return
      }

      this.deletingConfirmed = false
      this.deletingInProgress = true

      try {
        await this.$api.users.shelters.deletePetFromShelter(this.renderedPet.uuid)
        const shelterSlug = this.$auth.user?.slug as string
        this.$router.push({ name: 'r-slug', params: { slug: shelterSlug } })
      } catch (err) {
        console.log(err)
      }
    }
  }
})
</script>
