<template>
  <form @submit="handleAddPetData">
    <div
      class="ani-card-wrapper"
      :class="[
        { 'has-actions': hasActions },
      ]"
    >
      <section
        class="ani-card"
      >
        <figure class="ani-card-cover" :style="{ 'background-image': 'url(/sample-min.jpg)' }" />

        <header
          class="ani-card-header"
        >
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <AtoInput
                  id="pet-name"
                  v-model="newPet.name"
                  :error="Boolean(errors.name)"
                  label="Titre de la fiche"
                  required
                />
              </div>

              <div class="col-md-6">
                <AtoInput
                  id="pet-id-number"
                  v-model="newPet.identificationNumber"
                  :error="Boolean(errors.identificationNumber)"
                  label="Numéro d'identification officiel"
                  required
                >
                  <template slot="label-help">
                    <a href="https://agriculture.gouv.fr/lidentification-des-animaux-de-compagnie-une-obligation-legale-qui-les-protege" target="_blank" title="Qu'est ce que c'est ?">
                      <font-awesome-icon :icon="[ 'fas', 'question-circle' ]" />
                    </a>
                  </template>
                </AtoInput>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <AtoPetsSpeciesSelect
                  v-model="newPet.species"
                />
              </div>

              <div class="col-md-8">
                <AtoPetsBreedSelect
                  v-model="newPet.breeds"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <AtoSwitch
                  id="pet-gender"
                  v-model="newPet.isMale"
                  primary-label="Mâle"
                  secondary-label="Femelle"
                />

                <AtoSwitch
                  id="pet-sterilised"
                  v-model="newPet.isSterilised"
                  :primary-label="(newPet.isMale) ? 'Stérilisé' : 'Stérilisée'"
                  :secondary-label="(newPet.isMale) ? 'Non-stérilisé' : 'Non-stérilisée'"
                />

                <AtoSwitch
                  id="pet-sos"
                  v-model="newPet.isSos"
                  primary-label="Adoption urgente"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <AniWysiwyg
                  v-model="newPet.description"
                  :text="newPet.description"
                  :headings="[3, 4, 5]"
                  links
                  lists
                  label="Description"
                  placeholder="Comment décririez-vous cet animal ?"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <AtoPetsTagSelect
                  v-model="newPet.tags"
                />
              </div>
            </div>
          </div>
        </header>
      </section>

      <aside
        v-if="hasActions"
        class="ani-card-actions"
      >
        <div class="ani-card-sticky">
          <div>
            <div class="ani-card-action">
              <AtoRoundIconButton
                variant="green"
                title="Sauvegarder la fiche"
                submit
              >
                <font-awesome-icon v-if="uploadingInProgress" :icon="[ 'fas', 'circle-notch' ]" spin />
                <font-awesome-icon v-else :icon="[ 'fas', 'check' ]" />
              </AtoRoundIconButton>
            </div>

            <div class="ani-card-action">
              <AtoRoundIconButton
                variant="red"
                title="Abandonner la fiche"
                to="./"
                :disabled="uploadingInProgress ? true : false"
              >
                <font-awesome-icon :icon="[ 'fas', 'times' ]" />
              </AtoRoundIconButton>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </form>
</template>

<script lang="ts">
import Vue from 'vue'
import { resetFormErrors } from '~/utils/forms'

export default Vue.extend({
  data () {
    return {
      hasActions: true,
      uploadingInProgress: false,

      newPet: {
        name: '',
        description: '',
        identificationNumber: '',
        isMale: false,
        isSterilised: false,
        species: this.$store.getters['pets/allSpecies'][0],
        breeds: [],
        tags: []
      },

      errors: {
        name: '',
        identificationNumber: ''
      }
    }
  },

  computed: {},

  created () {
    this.$store.dispatch('pets/loadBreeds', this.$api)
    this.$store.dispatch('pets/loadTags', this.$api)
    this.$store.dispatch('pets/loadSpecies', this.$api)
  },

  methods: {
    handleAddPetData (e: Event) {
      e.preventDefault()

      this.uploadingInProgress = true
      this.errors = resetFormErrors(this.errors)

      this.addNewPet()
    },

    addNewPet () {
      this.$api.users.shelters.addPetFromShelter(this.newPet, this.$auth.user?.uuid as string)
        .then(() => {
          const newUrl = this.$route.path.replace('/new-pet', '')
          this.$router.push(newUrl)
        })
    }
  }
})
</script>
