<template>
  <div
    class="ani-card-wrapper"
    :class="[
      { 'has-actions': hasActions },
      { 'deployable': isDeployable }
    ]"
  >
    <section
      class="ani-card"
      :class="[
        { 'sos': renderedPet.isSos },
        { 'full': full },
        { 'big': big },
        { 'small': small }
      ]"
    >
      <figure v-if="renderedPet.mainImage" class="ani-card-cover" :style="{ 'background-image': `url(${$api.baseUrl}/${renderedPet.mainImage.contentUrl})` }" />
      <figure v-else-if="renderedPet.species" class="ani-card-cover" :style="{ 'background-image': `url(${mainPhotoSample})` }" />

      <header
        class="ani-card-header"
      >
        <div class="container-fluid">
          <div class="row align-center">
            <!-- Regular Pet Card View -->
            <div
              :class="simple ? 'col-md-12' : 'col-md-5'"
            >
              <h3
                class="ani-card-title"
              >
                {{ renderedPet.name }}
              </h3>
              <div
                v-if="!simple"
                class="ani-card-subtitle"
              >
                <small>
                  <a v-if="renderedPet.shelter.account.city" :href="`https://maps.google.com/?q=${renderedPet.shelter.account.city}`" target="_blank">{{ renderedPet.shelter.account.city }}</a>
                  <span>·</span>
                  <span v-if="datePosted">{{ datePosted }}</span>
                </small>
              </div>
            </div>

            <div
              v-if="!simple"
              class="pet-info col-md-7"
            >
              <AtoBadge v-if="renderedPet.species">
                <template slot="icon">
                  <font-awesome-icon :icon="[ 'fas', 'paw' ]" />
                </template>
                <span>{{ renderedPet.species.name }}</span>
              </AtoBadge>

              <AtoBadge v-if="renderedPet.isMale">
                <template slot="icon">
                  <font-awesome-icon :icon="[ 'fas', 'mars' ]" />
                </template>
                <span>Mâle</span>
              </AtoBadge>

              <AtoBadge v-else>
                <template slot="icon">
                  <font-awesome-icon :icon="[ 'fas', 'venus' ]" />
                </template>
                <span>Femelle</span>
              </AtoBadge>

              <AtoBadge v-if="renderedPet.birthday">
                <template slot="icon">
                  <font-awesome-icon :icon="[ 'fas', 'calendar' ]" />
                </template>
                <span>4 mois</span>
              </AtoBadge>

              <div>
                <AtoBadge
                  v-if="renderedPet.isSos"
                  variant="red"
                >
                  <template slot="icon">
                    <font-awesome-icon :icon="[ 'fas', 'clock' ]" />
                  </template>
                  <span>Adoption urgente !</span>
                </AtoBadge>

                <span v-if="renderedPet.breeds.length > 0">
                  <AtoBadge v-for="breed in renderedPet.breeds" :key="breed.id">
                    <template slot="icon">
                      <font-awesome-icon :icon="[ 'fas', 'paw' ]" />
                    </template>
                    <span>{{ breed.name }}</span>
                  </AtoBadge>
                </span>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div
        v-if="deployed || full"
        class="ani-card-body"
      >
        <div>
          <div
            class="pet-description"
            v-html="renderedPet.description"
          />

          <ul
            v-if="renderedPet.tags"
            class="pet-tags no-style inline"
          >
            <li v-for="tag in renderedPet.tags" :key="tag.id">
              <AtoTag to="/animals">
                {{ tag.name }}
              </AtoTag>
            </li>
          </ul>
        </div>
      </div>

      <footer
        v-if="!small || big"
        class="ani-card-footer"
      >
        <div class="container-fluid">
          <div class="row align-center">
            <div class="col-md-8">
              <AtoButton
                v-if="$nuxt.$route.path != `/animals/${renderedPet.uuid}`"
                :to="`/animals/${renderedPet.uuid}`"
                variant="primary"
                small
                inline
              >
                Fiche Anidopt
              </AtoButton>

              <AtoButton
                v-if="$nuxt.$route.path != `/r/${renderedPet.shelter.slug}`"
                :to="`/r/${renderedPet.shelter.slug}`"
                variant="primary"
                ghost
                small
                inline
              >
                Voir le refuge
              </AtoButton>
            </div>
            <div class="col-md-4 txt-right">
              <AniPetsLikeCounter
                :pet-uuid="renderedPet.uuid"
                :has-action="canLike"
                :favourites="favourites"
              />
            </div>
          </div>
        </div>
      </footer>
    </section>

    <aside
      v-if="hasActions"
      class="ani-card-actions"
    >
      <div class="ani-card-sticky">
        <div
          v-if="isDeployable"
          class="ani-card-action"
        >
          <AtoRoundIconButton
            variant="secondary"
            :title="(deployed) ? 'Afficher moins d\'informations' : 'Aficher plus d\'informations'"
            @click.native="deployCard()"
          >
            <font-awesome-icon :icon="(deployed) ? ['fas', 'angle-double-up'] : ['fas', 'angle-double-down']" />
          </AtoRoundIconButton>
        </div>
      </div>
    </aside>
  </div>
</template>

<script lang="ts">
import { PropType } from 'vue'
import mixins from 'vue-typed-mixins'
import { Pet } from '~/models/pets/Pet'

import { PetCard } from '~/mixins/Cards'
import { accountType } from '~/utils/types'

export default mixins(PetCard).extend({
  props: {
    favourites: {
      type: [] as PropType<Pet[]>,
      required: false,
      default: () => []
    }
  },

  data () {
    return {
      hasActions: false
    }
  },

  computed: {
    canLike (): Boolean {
      return (this.$auth.loggedIn && accountType(this.$auth.user) === 'adopter')
    }
  },

  mounted () {
    this.hasActions = (this.deployable)
  }
})
</script>
