<template>
  <nav class="ani-user-menu">
    <ul class="no-style">
      <li class="ani-menu-item">
        <nuxt-link id="login" class="user-action" to="/sign-in">
          <font-awesome-icon :icon="['fas', 'user']" size="lg" />
          <div class="menu-label">
            <small>Connexion</small>
          </div>
        </nuxt-link>
      </li>
    </ul>
  </nav>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  methods: {
    handleLogout () {
      this.$api.users.logout()
    }
  }
})
</script>

<style lang="scss">
.ani-user-menu {
  .ani-menu-item {
    text-align: center;

    a {
      @include ani-anchor-link();
    }
  }
}
</style>
