<template>
  <button class="ani-sidebar-toggle no-style" @click="toggleDrawer">
    <font-awesome-icon :icon="['fas', 'bars']" />
  </button>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  methods: {
    toggleDrawer () {
      this.$store.dispatch('globals/toggleDrawer')
    }
  }
})
</script>

<style lang="scss">
.ani-sidebar-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: $fs-regular;
  color: $gray-700;
  cursor: pointer;
}

// Desktop queries
@media only screen and (min-width: $breakpoint-mobile-max) {
  .ani-sidebar-toggle {
    left: 22px;
  }
}

// Mobile queries
@media only screen and (max-width: $breakpoint-mobile-max) {
  .ani-sidebar-toggle {
    left: 25px;
  }
}
</style>
