<template>
  <nav class="ani-user-menu">
    <ul class="no-style">
      <li class="ani-menu-item">
        <div
          id="logout"
          class="user-action"
          tabindex="0"
          @click="handleLogout()"
        >
          <font-awesome-icon :icon="['fas', 'sign-out-alt']" size="lg" />
          <div class="menu-label">
            <small>Déconnexion</small>
          </div>
        </div>
      </li>

      <li class="ani-menu-item">
        <nuxt-link class="user-action" to="/settings">
          <font-awesome-icon :icon="['fas', 'cog']" size="lg" />
          <div class="menu-label">
            <small>Paramètres</small>
          </div>
        </nuxt-link>
      </li>

      <li class="ani-menu-item">
        <div
          class="user-toggle"
          :title="profileTitle"
        >
          <div class="user-avatar">
            <nuxt-link :to="profileLink" class="no-style">
              <img v-if="user.avatar" src="#" alt="avatar">
              <span v-else class="user-initials">{{ userInitials }}</span>
            </nuxt-link>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { Adopter } from '~/models/users/Adopter'
import { Shelter } from '~/models/users/Shelter'
import { User } from '~/models/users/User'
import { formatUserInitials } from '~/utils/converters'
import { accountType } from '~/utils/types'

export default Vue.extend({
  props: {
    user: {
      type: Object as PropType<User>,
      required: true
    }
  },

  computed: {
    userInitials (): any {
      return formatUserInitials(this.user)
    },

    profileLink (): string {
      if (accountType(this.user) === 'shelter') {
        const user = this.user as Shelter
        return `/r/${user.slug}`
      } else {
        const user = this.user as Adopter
        return `/u/${user.uuid}`
      }
    },

    profileTitle (): string {
      if (accountType(this.user) === 'shelter') {
        return 'Mon refuge'
      } else {
        return 'Mon profil'
      }
    }
  },

  methods: {
    handleLogout () {
      this.$api.users.logout()
    }
  }
})
</script>

<style lang="scss" scoped>
.ani-user-menu {

  .user-action {
    text-align: center;
    @include ani-anchor-link();
  }

  .user-toggle {
    .user-avatar {
      display: inline-block;
      height: $navbar-height-desktop - 22px;
      width: $navbar-height-desktop - 22px;
      border-radius: 50%;
      text-align: center;
      overflow: hidden;
      cursor: pointer;
      transition: box-shadow 0.25s linear;

      a {
        text-decoration: none;
      }

      .user-initials {
        display: block;
        height: inherit;
        width: inherit;
        font-weight: $fw-bold;
        line-height: $navbar-height-desktop - 22px;
        color: $white;
        background-color: $primary;
        user-select: none;
      }
    }

    &:hover {
      .user-avatar {
        .user-initials {
          background-color: lighten($primary, 7%);
        }
      }
    }

    &:focus-within {
      outline: none;

      .user-avatar {
        box-shadow: 0 0 0 4px rgba($primary, 0.25);
      }
    }
  }
}
</style>
