<template>
  <header class="ani-header">
    <div>
      <AniNavbarSidebarToggle />

      <div class="ani-logo">
        <nuxt-link to="/">
          <nuxt-img
            format="webp"
            height="70"
            width="70"
            src="/logo.png"
            title="Retourner à l'accueil"
          />
        </nuxt-link>
      </div>
    </div>
    <AniNavbarUserMenu v-if="isLoggedIn" :user="$auth.user" />
    <AniNavbarGuestMenu v-else />
  </header>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  computed: {
    isLoggedIn (): boolean {
      return this.$auth.loggedIn
    }
  }
})
</script>

<style lang="scss" scoped>
.ani-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $navbar-height-desktop;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 5px;

  z-index: $z-navigation;
  background-color: $white;

  .ani-logo {
    a {
      display: block;
      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
  }
}

// Desktop queries
@media only screen and (min-width: $breakpoint-mobile-max) {
  .ani-header {
    padding: 0 40px 0 60px;

    .ani-logo {
      height: 40px;
      width: 40px;
    }
  }
}

// Mobile queries
@media only screen and (max-width: $breakpoint-mobile-max) {
  .ani-header {
    padding: 0 20px 0 60px;

    .ani-logo {
      height: 30px;
      width: 30px;
    }
  }
}
</style>

<style lang="scss">
.ani-user-menu {
  > ul {
    display: flex;
    align-items: center;

    .ani-menu-item {
      margin-left: 20px;
      text-align: center;
    }
  }
}
</style>
