<template>
  <form class="ani-form" method="POST" :class="form.loading ? 'opacity-50' : ''" @submit.prevent="handleAddNewPetForm">
    <div class="container-fluid">
      <AtoInput
        id="pet-name"
        v-model="input.pet_name"
        :error="Boolean(errors.pet_name)"
        label="Nom de l'animal"
        required
      >
        <template slot="tooltip">
          <small v-if="errors.pet_name">{{ errors.pet_name }}</small>
        </template>
      </AtoInput>

      <AniWysiwyg
        placeholder="Description de l'animal"
        :headings="[2, 3]"
        lists
        links
      />
    </div>
  </form>
</template>

<script lang="ts">
import mixins from 'vue-typed-mixins'

import { isFormValid, resetFormErrors } from '~/utils/forms'
import { Forms } from '~/mixins/Forms'

export default mixins(Forms).extend({
  data () {
    return {
      input: {
        pet_name: '',
        pet_description: ''
      },

      errors: {
        pet_name: '',
        pet_description: ''
      }
    }
  },

  methods: {
    handleAddNewPetForm (e: Event) {
      e.preventDefault()

      // Check if the form has already been submitted
      if (this.form.submitted) {
        return
      }

      this.form.loading = true
      this.errors = resetFormErrors(this.errors)

      // Stops submission if the form contains errors
      if (!isFormValid(this.errors)) {
        this.form.loading = false
        return
      }

      this.form.submitted = true
      this.addNewPet()
    },

    addNewPet () {}
  }
})
</script>

<style>

</style>
