<template>
  <form class="ani-form" method="POST" :class="form.loading ? 'opacity-50' : ''" @submit="handleChangePasswordForm">
    <div class="form-group">
      <AtoInputPassword
        id="password"
        v-model="input.oldPassword"
        label="Ancien mot de passe"
        is-new
        required
      />

      <div class="form-tooltip">
        <small v-if="errors.oldPassword" class="form-error">{{ errors.oldPassword }}</small>
      </div>
    </div>

    <div class="form-group">
      <AtoInputPassword
        id="password"
        v-model="input.newPassword"
        label="Nouveau mot de passe"
        is-new
        required
      />
    </div>

    <div class="form-group">
      <AtoInputPassword
        id="passwordCheck"
        v-model="input.newPasswordCheck"
        label="Confirmer le mot de passe"
        is-new
        required
      />

      <div class="form-tooltip">
        <small v-if="!errors.newPassword">Votre mot de passe doit idéalement contenir des symboles ainsi que des lettres et des chiffres.</small>
        <small v-if="errors.newPassword" class="form-error">{{ errors.newPassword }}</small>
      </div>
    </div>

    <AtoButton
      type="submit"
      :disabled="form.submitted ? true : false"
    >
      Confirmation
    </AtoButton>

    <div v-if="errors.form" class="form-error-handler">
      <small class="form-error">{{ errors.form }}</small>
    </div>
  </form>
</template>

<script lang="ts">
import mixins from 'vue-typed-mixins'
import { Forms } from '~/mixins/Forms'

import { isFormValid, resetFormErrors } from '~/utils/forms'

export default mixins(Forms).extend({
  data () {
    return {
      input: {
        oldPassword: '',
        newPassword: '',
        newPasswordCheck: ''
      },

      errors: {
        newPassword: '',
        oldPassword: ''
      }
    }
  },

  computed: {
    user (): any {
      return this.$auth.user
    }
  },

  methods: {
    handleChangePasswordForm (e: Event) {
      e.preventDefault()

      // Check if the form has already been submitted
      if (this.form.submitted) {
        return
      }

      this.form.loading = true
      this.errors = resetFormErrors(this.errors)

      if (!this.input.oldPassword) {
        this.errors.oldPassword = 'Veuillez renseigner votre ancien mot de passe.'
      }

      if (!this.input.newPassword || !this.input.newPasswordCheck) {
        this.errors.newPassword = 'Veuillez renseigner votre nouveau mot de passe et le confirmer.'
      }

      if (this.input.newPassword !== this.input.newPasswordCheck) {
        this.errors.newPassword = 'Les mots de passe choisis ne semblent pas correspondre'
      }

      // Stops submission if the form contains errors
      if (!isFormValid(this.errors)) {
        this.form.loading = false
        return
      }

      this.form.submitted = true
      this.changedPassword()
    },

    changedPassword () {
      this.$api.users.changePassword(
        this.user.uuid,
        {
          oldPassword: this.input.oldPassword,
          newPassword: this.input.newPassword
        }
      )
        .then((res) => {
          console.log(res)
        })
        .catch((err) => {
          console.log(err.response)
        })
    }
  }
})
</script>

<style>

</style>
