<template>
  <form class="ani-form" method="POST" :class="form.loading ? 'opacity-50' : ''" @submit="handleLoginForm">
    <AtoInput
      id="email"
      v-model="input.email"
      :error="Boolean(errors.email)"
      label="Adresse mail"
      is-email
      required
    >
      <template slot="tooltip">
        <small v-if="errors.email">{{ errors.email }}</small>
      </template>
    </AtoInput>

    <AtoInputPassword
      id="password"
      v-model="input.password"
      :error="Boolean(errors.password)"
      label="Mot de passe"
      required
    >
      <template slot="tooltip">
        <div>
          <small v-if="errors.password">{{ errors.password }}</small>
          <div>
            <small>
              <nuxt-link to="/forgot-password">J'ai oublié mon mot de passe !</nuxt-link>
            </small>
          </div>
        </div>
      </template>
    </AtoInputPassword>

    <AtoButton
      type="submit"
      :disabled="form.submitted ? true : false"
      inline
    >
      Connexion
    </AtoButton>

    <AtoButton
      type="link"
      to="/sign-up"
      ghost
      inline
    >
      Inscription
    </AtoButton>

    <div v-if="errors.form" class="form-error-handler">
      <small class="form-error">{{ errors.form }}</small>
    </div>
  </form>
</template>

<script lang="ts">
import mixins from 'vue-typed-mixins'
import { Forms } from '~/mixins/Forms'

import { isFormValid, isMailValid, resetFormErrors } from '~/utils/forms'

export default mixins(Forms).extend({
  data () {
    return {
      input: {
        email: '',
        password: ''
      },

      errors: {
        email: '',
        password: ''
      }
    }
  },

  methods: {
    /**
     * Takes the data held by the form, checks it, and displays errors if needed
     * It then calls the loginUser function after the form is considered valid
     */
    handleLoginForm (e: Event) {
      e.preventDefault()

      // Check if the form has already been submitted
      if (this.form.submitted) {
        return
      }

      this.form.loading = true
      this.errors = resetFormErrors(this.errors)

      if (!this.input.email) {
        this.errors.email = 'Veuillez renseigner votre addresse mail.'
      }

      if (this.input.email && !isMailValid(this.input.email)) {
        this.errors.email = 'Votre email n\'est pas valide ; veuillez en essayer ou en créer un nouveau.'
      }

      if (!this.input.password) {
        this.errors.password = 'Veuillez renseigner votre mot de passe.'
      }

      // Stops submission if the form contains errors
      if (!isFormValid(this.errors)) {
        this.form.loading = false
        return
      }

      this.form.submitted = true
      this.loginUser()
    },

    /**
     * Logs the user in based on the input from the component
     * To be called only after the form has been handled!
     */
    loginUser () {
      this.$api.users.login({
        name: this.input.email,
        password: this.input.password
      })
        .then(() => {
          this.form.finished = true
          this.$router.back()
        })
        .catch(() => {
          this.errors.form = "L'authentification a échouée ou votre compte n'est pas vérifié ; veuillez vérifiez vos identifiants ou votre boîte mail."
        })
        .finally(() => {
          this.form.loading = false
          this.form.submitted = false
        })
    }
  }
})
</script>
