<template>
  <form class="ani-form" method="POST" :class="form.loading ? 'opacity-50' : ''" @submit="handleRegisterForm">
    <AtoSwitch
      id="isShelter"
      v-model="input.isShelter"
      primary-label="Refuge"
      secondary-label="Adoptant"
    />

    <AtoInput
      v-if="input.isShelter"
      id="pseudo"
      v-model="input.pseudo"
      :error="Boolean(errors.name)"
      label="Nom de profil"
      :required="input.isShelter ? true : false"
    >
      <template slot="tooltip">
        <small v-if="errors.name">{{ errors.name }}</small>
        <small v-else>Vous pouvez changer votre pseudo à tout moment.</small>
      </template>
    </AtoInput>

    <AtoInput
      id="email"
      v-model="input.email"
      :error="Boolean(errors.email)"
      label="Adresse mail"
      is-email
      required
    >
      <template slot="tooltip">
        <small v-if="errors.email">{{ errors.email }}</small>
        <small v-else>Votre addresse mail nous servira principalement à vous identifier et à retrouver votre compte si vous oubliez vos informations de connexion.</small>
      </template>
    </AtoInput>

    <AtoInputPassword
      id="password"
      v-model="input.password"
      :error="Boolean(errors.password)"
      label="Mot de passe"
      is-new
      required
    />

    <AtoInputPassword
      id="passwordCheck"
      v-model="input.passwordCheck"
      :error="Boolean(errors.password)"
      label="Confirmer le mot de passe"
      is-new
      required
    >
      <template slot="tooltip">
        <small v-if="errors.password">{{ errors.password }}</small>
        <div v-else>
          <small>Votre mot de passe doit idéalement contenir des symboles ainsi que des lettres et des chiffres.</small>
          <br>
          <small>
            <nuxt-link to="/forgot-password">J'ai oublié mon mot de passe !</nuxt-link>
          </small>
        </div>
      </template>
    </AtoInputPassword>

    <AtoButton
      type="submit"
      :disabled="form.submitted ? true : false"
    >
      S'inscrire
    </AtoButton>

    <div v-if="errors.form" class="form-error-handler">
      <small class="form-error">{{ errors.form }}</small>
    </div>
    <small v-if="form.finished">Nous avons envoyé un mail à l'adresse que vous avez renseignée. Pour activer votre compte, il vous suffit de cliquer sur le lien "Activer mon compte Anidopt" !</small>
  </form>
</template>

<script lang="ts">
import { HTTPResponse } from '@nuxtjs/auth-next'
import Vue from 'vue'
import { resetFormErrors, isFormValid, isMailValid, containsScriptTag } from '~/utils/forms'

export default Vue.extend({
  data () {
    return {
      form: {
        submitted: false,
        loading: false,
        finished: false
      },

      input: {
        pseudo: '',
        email: '',
        password: '',
        passwordCheck: '',
        isShelter: false
      },

      errors: {
        name: '',
        email: '',
        password: '',
        form: ''
      }
    }
  },
  methods: {
    /**
     * Takes the data held by the form, checks it, and displays errors if needed
     * It then calls the registerUser function after the form is considered valid
     */
    handleRegisterForm (e: Event) {
      e.preventDefault()

      // Check if the form has already been submitted
      if (this.form.submitted) {
        return
      }

      this.form.loading = true
      this.errors = resetFormErrors(this.errors)

      if (!this.input.pseudo && this.input.isShelter) {
        this.errors.name = 'Veuillez renseigner un nom d\'utilisateur.'
      }

      if (!this.input.email) {
        this.errors.email = 'Votre adresse mail est essentielle pour votre inscription, merci de le renseigner !'
      }

      if (this.input.email && !isMailValid(this.input.email)) {
        this.errors.email = 'Votre email n\'est pas valide ; veuillez en essayer ou en créer un nouveau.'
      }

      if (!this.input.password || !this.input.passwordCheck) {
        this.errors.password = 'Veuillez renseigner un mot de passe.'
      }

      if (this.input.password !== this.input.passwordCheck) {
        this.errors.password = 'Les mots de passe choisis ne semblent pas correspondre'
      }

      if (containsScriptTag(this.input.pseudo) || containsScriptTag(this.input.email)) {
        this.errors.form = 'Le formulaire semble contenir une tentative d\'intrusion malhonnête. Veuillez réessayer 😉'
      }

      // Stops submission if the form contains errors
      if (!isFormValid(this.errors)) {
        this.form.loading = false
        return
      }

      this.form.submitted = true
      this.registerUser()
    },

    /**
     * Registers the user based on the input from the component
     * To be called only after the form has been handled!
     */
    registerUser () {
      this.$api.users.registerOne({
        email: this.input.email,
        password: this.input.password,
        name: this.input.pseudo,
        isShelter: this.input.isShelter
      })
        .then(() => {
          this.form.finished = true
        })
        .catch((err: any) => {
          const res = err.response as HTTPResponse

          // If the entity already exists
          if (res.status === 422) {
            const details = res.data.detail as Array<string>
            details.forEach((fieldError) => {
              const error = fieldError.split(': ')
              const field = error[0]
              const message = error[1]

              if (field === 'email') {
                this.errors.email = message
              }

              if (field === 'name') {
                this.errors.name = message
              }
            })
          } else if (res.status === 400) {
            this.errors.email = 'Cet email est déjà utilisé par un compte existant ; veuillez en essayer ou en créer un nouveau.'
          }
        })
        .finally(() => {
          this.form.loading = false
          this.form.submitted = false
        })
    }
  }
})
</script>

<style lang="scss">
</style>
