<template>
  <div>
    <div v-if="!emailSent">
      <ForgotPasswordRequest />
    </div>
    <div v-else>
      <ForgotPasswordConfirm :email="user.email" :token="user.token" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

import ForgotPasswordRequest from './states/ForgotPasswordRequest.vue'
import ForgotPasswordConfirm from './states/ForgotPasswordConfirm.vue'
import { isMailValid } from '~/utils/forms'

export default Vue.extend({
  // Different form states
  components: {
    ForgotPasswordRequest,
    ForgotPasswordConfirm
  },

  data () {
    return {
      user: {
        token: decodeURI(this.$route.query.token as string),
        email: decodeURI(this.$route.query.email as string)
      },
      validTokenLength: 32
    }
  },

  computed: {
    /**
     * Check if the URL contains the two GET variables it needs to switch forms, and if they're valid
     */
    emailSent (): boolean {
      if (
        this.user.token &&
        this.user.email &&
        isMailValid(this.user.email) &&
        this.user.token.length === this.validTokenLength
      ) {
        return true
      } else {
        return false
      }
    }
  }
})
</script>
