<template>
  <main class="sign-up-page">
    <h1 class="heading-1">
      Inscription
    </h1>
    <AniFormRegister />
  </main>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  middleware: 'auth',
  auth: 'guest',

  head () {
    return {
      titleTemplate: 'Inscription - %s',
      meta: [
        { hid: 'description', name: 'description', content: 'Rejoignez Anidopt pour profiter de notre réseau rennais d\'adoption.' }
      ]
    }
  }
})
</script>
