<template>
  <main class="welcome-page">
    <div class="heading-1">
      Bienvenue à bord d'Anidopt !
    </div>
    <p>Votre compte est maintenant activé !</p>
    <nuxt-link to="/sign-in">
      Se connecter
    </nuxt-link>
  </main>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  middleware: 'auth',
  auth: 'guest',

  head () {
    return {
      titleTemplate: 'Bienvenue! - %s'
    }
  }
})
</script>
