<template>
  <main class="animal-page feed">
    <h1>{{ adopter.pseudo }}</h1>
  </main>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  async asyncData ({ params, $api }) {
    const adopter = await $api.users.adopters.getOneByUUID(params.uuid)

    return { adopter }
  },

  head (this: any) {
    return {
      titleTemplate: `${this.adopter.pseudo} - %s`
    }
  }
})
</script>
