<template>
  <main class="shelter-page feed">
    <article>
      <h1>{{ shelter.name }}</h1>
      <h4 v-if="shelter.account.city">
        <span>Refuge basé à</span>
        <span class="fw-black">{{ shelter.account.city }}</span>
        <span v-if="shelter.account.zipcode">, {{ shelter.account.zipCode }}</span>
      </h4>

      <p v-if="!isCurrentUser">
        <span v-if="shelter.pets.length > 0">{{ shelter.name }} accueille en ce moment {{ shelter.pets.length }} {{ (shelter.pets.length == 1 ) ? 'animal' : 'animaux' }}</span>
        <span v-else>Ce refuge n'accueille aucun animal pour le moment…</span>
      </p>

      <p v-else>
        <span v-if="$auth.user.pets.length > 0">Votre refuge accueille en ce moment {{ $auth.user.pets.length }} {{ ($auth.user.pets.length == 1 ) ? 'animal' : 'animaux' }}</span>
        <span v-else>Votre refuge n'accueille aucun animal pour le moment…</span>
      </p>

      <section>
        <AniPetsSlider :pets="(isCurrentUser) ? $auth.user.pets : shelter.pets" :edit-mode="isCurrentUser" />
      </section>

      <footer>
        <p v-if="shelter.email">
          Contactez le refuge à <a :href="`mailto:${shelter.email}`">{{ shelter.email }}</a>
        </p>
      </footer>
    </article>
  </main>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  async asyncData ({ params, $api, $auth }) {
    const shelters = await $api.users.shelters.getAll(params.slug)
    const shelter = await $api.users.shelters.getOneByUUID(shelters[0].uuid)

    const isCurrentUser = ($auth.user?.uuid) === shelter.uuid

    return { shelter, isCurrentUser }
  },

  head (this: any) {
    return {
      titleTemplate: `${this.shelter.name} - %s`,
      meta: [
        { hid: 'description', name: 'description', content: `${this.shelter.name} est un refuge basé à ${this.shelter.account.city}` }
      ]
    }
  }
})
</script>
