<template>
  <main class="shelter-page add">
    <article>
      <h1>Nouvelle fiche Anidopt</h1>

      <section>
        <AniPetsCardNew />
      </section>
    </article>
  </main>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  middleware: ['auth', 'shelterOnly'],

  head () {
    return {
      titleTemplate: 'Ajouter un animal - %s'
    }
  }
})
</script>
