.ani-card-wrapper {
  .ani-card {
    position: relative;
    margin-bottom: 20px;
    border-radius: $ani-card-border-radius;
    background-color: $white;
    @include drop-shadow();

    .ani-card-cover {
      overflow: hidden;
      position: relative;
      border-top-left-radius: $ani-card-border-radius;
      border-top-right-radius: $ani-card-border-radius;
      background-size: cover;
      background-position: center center;
    }

    &.full {
      .ani-card-cover {
        height: 50vh;
      }
    }

    &.big {
      .ani-card-cover {
        height: 30vw;
        max-height: 23rem;
      }
    }

    &.small {
      .ani-card-cover {
        height: 20vw;
        max-height: 10rem;
      }

      .ani-card-header {
        .ani-card-title {
          font-size: $fs-regular;
        }
      }
    }

    &.deployable {
      .ani-card-deploy {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}

.ani-card-wrapper {
  .ani-card {
    .ani-card-cover {
      .ani-card-cover-prompt {
        label {
          position: absolute;
          width: 100%;
          right: 0;
          left: 0;
          bottom: 0;
          padding: 3rem 0;
          font-size: $fs-medium;
          font-weight: $fw-bold;
          color: $white;
          text-align: center;
          background: $black;
          background: linear-gradient(to bottom, transparent, $black 100%);
          cursor: pointer;

          &:hover {
            background: linear-gradient(to bottom, transparent, rgba($black, 30%) 20%, $black 85%);
          }
        }
      }
    }

    .ani-card-header {
      position: relative;

      .ani-card-title {
        position: relative;
        padding-bottom: 5px;

        &:after {
          position: absolute;
          display: block;
          content: '';
          width: 100px;
          height: 3px;
          bottom: -3px;
        }
      }

      .pet-info {
        .row:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }

    .ani-card-body {
      .pet-description {
        margin-bottom: 20px;
      }
    }

    &.big, &.full {
      &.sos {
        .ani-card-cover {
          &:before {
            top: -75px;
            left: -75px;
            height: 150px;
            width: 150px;
            line-height: 250px;
            font-size: $fs-medium;
          }
        }
      }
    }

    &.small {
      &.sos {
        .ani-card-cover {
          &:before {
            top: -45px;
            left: -45px;
            height: 90px;
            width: 90px;
            line-height: 155px;
          }
        }
      }
    }

    &.sos {
      position: relative;

      .ani-card-cover {
        &:before {
          display: block;
          position: absolute;
          content: 'SOS';
          font-family: $heading-font-family;
          font-weight: $fw-bold;
          color: $white;
          background: $red;
          text-align: center;
          z-index: 100;
          transform: rotate(-45deg);
          user-select: none;
          pointer-events: none;
          @include drop-shadow();
        }
      }

      .ani-card-header {
        .ani-card-title {
          &:after {
            background: $red;
          }
        }
      }
    }

    &:not(.sos) {
      .ani-card-header {
        .ani-card-title {
          &:after {
            background: rgba($primary, 0.75);
          }
        }
      }
    }
  }

  &.has-actions {
    position: relative;

    .ani-card {
      > *:not(.ani-card-cover) {
        padding-right: 40px;
      }
    }

    .ani-card-actions {
      position: absolute;
      top: 20px;
      bottom: 100px;
      right: calc(-10px / 2);

      .ani-card-sticky {
        position: sticky;
        top: 20px;
      }

      .ani-card-action {
        margin-bottom: 10px;
      }
    }
  }
}

// Desktop
@media only screen and (min-width: $breakpoint-mobile-max) {
  .ani-card-wrapper {
    .ani-card {
      .ani-card-header {
        padding: 25px;

        .ani-card-title {
          font-size: $fs-medium;
        }
      }

      .ani-card-body,
      .ani-card-footer {
        padding: 0 25px 25px;
      }
    }

    &.has-actions {
      .ani-card {
        margin-right: 20px;
      }

      .ani-card-actions {
        right: calc(-10px / 2);
      }
    }
  }
}

// Mobile
@media only screen and (max-width: $breakpoint-mobile-max) {
  .ani-card-wrapper {
    .ani-card {
      .ani-card-header {
        padding: 15px;

        .ani-card-title {
          padding-bottom: 0;
          margin-bottom: 5px;
          font-size: $fs-regular;

          &:after {
            height: 2px;
          }
        }

        .ani-card-subtitle {
          margin-bottom: 20px;
        }
      }

      .ani-card-body,
      .ani-card-footer {
        padding: 0 15px 15px;
      }
    }

    &.has-actions {
      .ani-card {
        > *:not(.ani-card-cover) {
          padding-right: 15px;
        }
      }

      .ani-card-actions {
        right: calc(-50px / 2);
      }
    }
  }
}
