//** CSS CLASSES ; used for utilities, without using component styles

//** LAYOUTS
.display {
  &-none {
    display: none;
  }
}

.row {
  @media only screen and (min-width: $breakpoint-mobile-max) {
    &.align-center {
      display: flex;
      align-items: center;
    }
  }
}

.float {
  &-right {
    float: right;
    @include clearfix;
  }

  &-left {
    float: left;
    @include clearfix;
  }
}

.cursor {
  &-pointer {
    cursor: pointer;
  }
}

// VERTICAL ALIGN
.va {
  &-md {
    > * {
      vertical-align: middle
    }
  }
}

.no-wrap {
  white-space: nowrap;
}

// OPACITY
@for $i from 0 through 10 {
  .opacity-#{$i}0 {
    opacity: #{$i * 10%} !important;
  }
}

//** TEXT FORMATTING
// FONT WEIGHTS
$font-weights: (
  'regular':    $fw-regular,
  'bold':       $fw-bold,
  'extrabold':  $fw-extrabold,
  'black':      $fw-black,
);
@each $weight, $value in $font-weights {
  .fw-#{$weight} {
    font-weight: $value;
  }
}

// FONT SIZES
$font-sizes: (
  'small':      $fs-small,
  'regular':    $fs-regular,
  'medium':     $fs-medium,
  'large':      $fs-large,
  'extralarge': $fs-extralarge,
  'huge':       $fs-huge,
  'display':    $fs-display,
);
@each $size, $value in $font-sizes {
  .fs-#{$size} {
    font-size: $value;
  }
}

small {
  font-size: $fs-small;
}

// TEXT ALIGN
.txt {
  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }
}

.txt {
  &-uppercase {
    text-transform: uppercase;
  }

  &-capitalize {
    text-transform: capitalize;
  }
}

//** COSMETICS
.shadowed {
  &-txt {
    @include drop-shadow('text');
  }
  &-box {
    @include drop-shadow('box')
  }
}

// RESETS
ul, ol {
  &.no-style {
    list-style-type: none;
    padding-left: 0;
  }

  &.inline {
    > li {
      display: inline-block;
    }
  }
}

button.no-style {
  padding: 0;
  border: none;
  background: none;
}
