.content-page {
  .hero {
    figure {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 50vh;
      width: 100%;
      opacity: 0.7;
      pointer-events: none;

      &:after {
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 20vh;
        background: linear-gradient(to bottom, transparent, $white);
      }

      img {
        width: 100%;
        height: inherit;
        object-fit: cover;
        object-position: center;
      }
    }

    .ani-card-wrapper {
      margin-top: 30vh;
    }
  }

  hr {
    margin: calc(3vw + 30px) 0;
  }
}
