.form-group {
  &:not(.inline) {
    margin-bottom: 20px;
  }

  &.form-error {
    .form-tooltip {
      color: $danger
    }
  }

  .form-input, .form-select {
    label {
      display: block;
      margin-bottom: 10px;
      font-weight: $fw-bold;
    }

    &.form-check {
      position: relative;
      padding-left: 20px;

      input[type=checkbox] {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
  }

  .form-tooltip {
    margin-top: 8px;
    color: $gray-700;
  }

  &.inline {
    display: inline-block;
  }

  &.borderless {
    .form-input, .form-select {
      .input-wrapper {
        input[type=text],
        input[type=mail],
        select {
          padding: 10px;
          border: none;
          border-bottom: 1px solid $gray-600;
        }
      }
    }
  }
}

.form-error-handler {
  margin-top: 10px;
  color: $red;
}
