@import './libs/normalize';

@import './core/mixins';
@import './core/grille';
@import './core/grille_responsive';

@import './class';
@import './forms';

@import './feed';
@import './card';
@import './content';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: $body-colour;
  font-family: $body-font-family;
  font-size: $fs-base;
  line-height: initial;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

// Stretch nuxt elements
#__nuxt, #__layout {
  min-height: inherit;
}

// MAIN LAYOUT
.ani-wrapper {
  position: relative;
  min-height: calc(100vh - #{$navbar-height-desktop});
  transition: padding-left 0.3s ease-in-out;

  .ani-content {
    position: relative;
    min-height: inherit;
    overflow: auto;
    background-color: #F9F9F9;

    @include ani-scrollbar();
  }
}

// From Desktop
@media only screen and (min-width: $breakpoint-mobile-max) {
  .ani-wrapper {
    padding-top: $navbar-height-desktop; // Navbar size
    padding-left: 60px;

    &.sidebar-opened {
      padding-left: $sidebar-width-desktop; // Sidebar size
    }

    .ani-content {
      max-height: calc(100vh - #{$navbar-height-desktop});
      padding: 30px;
    }
  }
}

// Up to Tablet
@media only screen and (max-width: $breakpoint-tablet-max) {
  .ani-wrapper {
    .ani-content {
      padding: 30px;
    }
  }
}

// Up to Mobile
@media only screen and (max-width: $breakpoint-mobile-max) {
  .ani-wrapper {
    padding-top: $navbar-height-mobile; // Navbar size
    padding-left: 0;

    .ani-content {
      transition: 0.3s filter ease-in-out, 0.3s -webkit-filter ease-in-out;
      filter: brightness(100%);
    }

    &.sidebar-opened {
      .ani-content {
        filter: brightness(85%);
        transition: 0.3s filter ease-in-out, 0.3s -webkit-filter ease-in-out;
      }
    }

    .ani-content {
      max-height: calc(100vh - #{$navbar-height-mobile});
    }
  }
}

// HEADERS
h1, h2, h3, h4, h5, h6,
.heading-0, .heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
  font-family: $heading-font-family;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

// Special display
.heading-0 {
  font-size: $fs-display;
  font-weight: $fw-black;
}

h1, .heading-1 {
  margin: 15px 0;
  font-size: $fs-huge;
  font-weight: $fw-extrabold;
}

h2, .heading-2 {
  margin: 15px 0;
  font-size: $fs-extralarge;
  font-weight: $fw-extrabold;
}

h3, .heading-3 {
  margin: 15px 0;
  font-size: $fs-large;
  font-weight: $fw-extrabold;
}

h4, .heading-4 {
  margin: 10px 0;
  font-size: $fs-medium;
  font-weight: $fw-regular;
}

h5, .heading-5 {
  margin: 5px 0;
  font-size: $fs-regular;
  font-weight: $fw-regular;
}

h6, .heading-6 {
  margin: 5px 0;
  font-size: $fs-base;
  font-weight: $fw-regular;
}

p, ul, hr {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

hr {
  border: 0;
  border-bottom: 1px solid $gray-200;
}

.ani-icon {
  margin-right: 5px;
}
