@mixin ani-text-input {
  .form-group {
    .form-input {
      input,
      select {
        display: block;
        width: 100%;
        padding: 7px;
        border: 1px solid $gray-500;
        border-radius: 3px;
        transition: box-shadow 0.25s linear;

        &:focus {
          outline: none;
        }

        &:not(:disabled),
        &:not(.disabled) {
          &:focus {
            box-shadow: 0 0 0 4px rgba($primary, 0.25);
          }
        }
      }
    }

    &.form-valid {
      .form-input {
        input {
          border-color: $valid;

          &:not(:disabled),
          &:not(.disabled) {
            &:focus {
              box-shadow: 0 0 0 4px rgba($valid, 0.25);
            }
          }
        }
      }
    }

    &.form-valid {
      .form-input {
        input {
          border-color: $warning;

          &:not(:disabled),
          &:not(.disabled) {
            &:focus {
              box-shadow: 0 0 0 4px rgba($warning, 0.25);
            }
          }
        }
      }
    }

    &.form-error {
      .form-input {
        input {
          border-color: $danger;

          &:not(:disabled),
          &:not(.disabled) {
            &:focus {
              box-shadow: 0 0 0 4px rgba($danger, 0.25);
            }
          }
        }
      }
    }
  }
}
// Scrollbar
@mixin ani-scrollbar {
  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: $gray-300;
  }
}

// Links
@mixin ani-anchor-link($color: $primary) {
  color: $color;
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
  transition: color 0.4s ease-in-out;

  &:hover {
    color: darken($color, 15%);
  }
}

// Shadows
@mixin drop-shadow($type: "box") {
  @if $type == "text" {
    text-shadow: 0 0 7px rgba($black, 0.2);
  } @else {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }
}

@mixin inset-shadow() {
  box-shadow: inset 2px 2px 3px rgba($gray-500, 0.2);
}
