$white:       #FFF;
$gray-100:    #EFEFEF;
$gray-200:    #DADADA;
$gray-300:    #CACACA;
$gray-400:    #AAA;
$gray-500:    #939393;
$gray-600:    #737373;
$gray-700:    #626262;
$gray-800:    #474747;
$gray-900:    #2A2A2A;
$black:       #000;

$cyan-200:    #D9ECED;
$cyan-300:    #B6DADD;
$cyan-400:    #93C9CD;
$cyan-500:    #6FB7BC;
$cyan-600:    #4FA5AB;
$cyan-700:    #3F8388;
$cyan-800:    #2F6165;
$cyan-900:    #1F4042;

$salmon-200:    #f7d9d4;
$salmon-300:    #f0b3a8;
$salmon-400:    #e88b7b;
$salmon-500:    #e16651;
$salmon-600:    #d94026;
$salmon-700:    #ae331e;
$salmon-800:    #822617;
$salmon-900:    #571a0f;

$red:         #e4344b;
$yellow:      #ffc62a;
$blue:        #3aa3ee;
$green:       #45c176;

$primary-light: $cyan-300;
$primary:       $cyan-500;
$primary-dark:  $cyan-600;

$secondary-light: $salmon-300;
$secondary:       $salmon-500;
$secondary-dark:  $salmon-600;

$info:      $blue;
$valid:     $green;
$warning:   $yellow;
$danger:    $red;

$body-colour: $white;

$heading-font-family: 'Nunito', sans-serif;
$body-font-family:    'Lato', sans-serif;

$fs-small:        13px;
$fs-base:         15px;
$fs-regular:      18px;
$fs-medium:       25px;
$fs-large:        30px;
$fs-extralarge:   35px;
$fs-huge:         40px;
$fs-display:      60px;

$fw-regular:      400;
$fw-bold:         700;
$fw-extrabold:    800;
$fw-black:        900;

// LAYOUTS
$navbar-height-desktop:   70px;
$navbar-height-mobile:    70px;

$sidebar-width-desktop:   250px;
$sidebar-width-mobile:    70px;

// CARDS
$ani-card-border-radius: 10px;

// LAYERS
$z-above-all: 9999;
$z-navigation: 999;
$z-behind-all: -1;

// BREAKPOINTS
$breakpoint-desktop-min: 1200px;

$breakpoint-tablet-max: 1199px;
$breakpoint-tablet-min: 800px;

$breakpoint-mobile-max: 799px;
$breakpoint-mobile-min: 800px;

// GRID
$grid-columns: 12 !default;
$grid-gutter-width: 40px !default;
$width-container: 1100px !default;
