<template>
  <div
    class="form-group"
    :class="[
      { 'form-error' : error },
      { 'form-warning' : warning },
      { 'form-valid' : valid },
    ]"
  >
    <div class="form-input">
      <label for="breed-filter">Races connues</label>

      <div class="selected-breeds">
        <div v-for="breed in selectedBreeds" :key="breed.id" class="selected-breeds-item" tabindex="0" @keyup.delete="removeBreed(breed.id)">
          <AtoBadge
            closable
            @close="removeBreed(breed.id)"
          >
            <template slot="icon">
              <font-awesome-icon :icon="['fa', 'paw']" />
            </template>
            {{ breed.name }}
          </AtoBadge>
        </div>

        <div class="breed-input">
          <input
            id="breed-filter"
            ref="breedFilterInput"
            v-model="textFilter"
            type="text"
            @keyup.delete="handleBackspaceKey()"
            @keydown.delete="handleBackspaceKey()"
            @keyup.enter="handleEnterKey()"
          >
          <div v-if="isFilterDisplayed" class="filter-box">
            <ul class="no-style filter-box-list">
              <li
                v-for="breed in filteredBreeds"
                :key="breed.id"
                class="filter-box-item"
                tabindex="0"
                @click="addBreed(breed)"
                @keyup.enter="addBreed(breed)"
              >
                {{ breed.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Category } from '~/models/pets/Category'

export default Vue.extend({
  props: {
    value: {
      type: Array,
      default: () => [] as Category[]
    },

    error: {
      type: Boolean,
      default: false
    },

    warning: {
      type: Boolean,
      default: false
    },

    valid: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      textFilter: '',
      filteredBreeds: [] as Category[],
      selectedBreeds: [] as Category[]
    }
  },

  computed: {
    isFilterDisplayed (): boolean {
      return Boolean(this.textFilter && this.filteredBreeds.length > 0)
    },

    allBreeds (): Category[] {
      return this.$store.getters['pets/allBreeds']
    }
  },

  watch: {
    textFilter () {
      this.refreshFilter()
    },

    selectedBreeds () {
      this.$emit('input', this.selectedBreeds)
    }
  },

  mounted () {
    this.selectedBreeds = this.value as Category[]
    this.refreshFilter()
  },

  methods: {
    addBreed (breed: Category) {
      this.selectedBreeds.push(breed)
      this.textFilter = ''
      this.focusInput()
    },

    removeBreed (breedId: number) {
      this.selectedBreeds = this.selectedBreeds.filter((breed) => {
        return parseInt(breed.id) !== breedId
      })
      this.refreshFilter()
      this.focusInput()
    },

    refreshFilter () {
      this.filteredBreeds = this.allBreeds.filter((breed) => {
        return (
          breed.name.toLowerCase().includes(this.textFilter.toLowerCase()) &&
          !this.selectedBreeds.find(selectedBreed => selectedBreed.id === breed.id)
        )
      })
    },

    handleBackspaceKey () {
      if (!this.textFilter && this.selectedBreeds.length > 0) {
        const lastBreed = this.selectedBreeds[this.selectedBreeds.length - 1]
        this.selectedBreeds.pop()
        this.textFilter = lastBreed.name
      }
    },

    handleEnterKey () {
      if (this.isFilterDisplayed) {
        this.selectedBreeds.push(this.filteredBreeds[0])
        this.textFilter = ''
      }
    },

    focusInput () {
      (this.$refs.breedFilterInput as HTMLElement).focus()
    }
  }
})
</script>

<style lang="scss">
.form-group {
  .selected-breeds {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding-bottom: 5px;
    border-bottom: 1px solid $gray-300;

    .selected-breeds-item {
      flex-grow: 0;
    }

    .breed-input {
      position: relative;
      flex-grow: 1;

      input {
        width: 100%;
        margin-bottom: 5px;
        padding: 5px 10px 5px 0;
        font-size: 16px;
        border: none;
        outline: none;
      }

      .filter-box {
        position: absolute;
        max-height: 100px;
        min-width: 200px;
        padding: 10px 0;
        margin-bottom: 50px;
        overflow: auto;
        background: $white;
        z-index: 999;

        @include ani-scrollbar();
        @include drop-shadow();

        .filter-box-list {
          .filter-box-item {
            padding: 10px 20px;
            cursor: pointer;

            &:hover {
              background: $gray-200;
            }

            &:not(:hover):focus {
              background: $gray-100;
            }
          }
        }
      }
    }
  }
}
</style>
