<template>
  <div>
    <AtoSelect
      id="pet-species"
      :value="value"
      label="Espèce renseignée"
      :pool="allSpecies"
      @input="handleInput"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Category } from '~/models/pets/Category'

export default Vue.extend({
  props: {
    value: {
      type: Object,
      default: () => { return {} }
    }
  },

  computed: {
    allSpecies (): Category[] {
      return this.$store.getters['pets/allSpecies']
    }
  },

  methods: {
    handleInput (species: Category) {
      this.$emit('input', species)
    }
  }
})
</script>
