<template>
  <div
    class="form-group"
    :class="[
      { 'form-error' : error },
      { 'form-warning' : warning },
      { 'form-valid' : valid },
    ]"
  >
    <div class="form-input">
      <label for="breed-filter">Catégories</label>

      <div class="selected-breeds">
        <div v-for="tag in selectedTags" :key="tag.id" class="selected-breeds-item" tabindex="0" @keyup.delete="removeTag(tag.id)">
          <AtoBadge
            closable
            @close="removeTag(tag.id)"
          >
            <template slot="icon">
              <font-awesome-icon :icon="['fa', 'paw']" />
            </template>
            {{ tag.name }}
          </AtoBadge>
        </div>

        <div class="breed-input">
          <input
            id="breed-filter"
            ref="breedFilterInput"
            v-model="textFilter"
            type="text"
            @keyup.delete="handleBackspaceKey()"
            @keydown.delete="handleBackspaceKey()"
            @keyup.enter="handleEnterKey()"
          >

          <div v-if="isFilterDisplayed" class="filter-box">
            <ul class="no-style filter-box-list">
              <li
                v-for="tag in filteredTags"
                :key="tag.id"
                class="filter-box-item"
                tabindex="0"
                @click="addTag(tag)"
                @keyup.enter="addTag(tag)"
              >
                {{ tag.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Category } from '~/models/pets/Category'

export default Vue.extend({
  props: {
    value: {
      type: Array,
      default: () => [] as Category[]
    },

    error: {
      type: Boolean,
      default: false
    },

    warning: {
      type: Boolean,
      default: false
    },

    valid: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      textFilter: '',
      filteredTags: [] as Category[],
      selectedTags: [] as Category[]
    }
  },

  computed: {
    isFilterDisplayed (): boolean {
      return Boolean(this.textFilter && this.filteredTags.length > 0)
    },

    allTags (): Category[] {
      return this.$store.getters['pets/allTags']
    }
  },

  watch: {
    textFilter () {
      this.refreshFilter()
    },

    selectedTags () {
      this.$emit('input', this.selectedTags)
    }
  },

  mounted () {
    this.selectedTags = this.value as Category[]
    this.refreshFilter()
  },

  methods: {
    addTag (tag: Category) {
      this.selectedTags.push(tag)
      this.textFilter = ''
      this.focusInput()
    },

    removeTag (tagId: number) {
      this.selectedTags = this.selectedTags.filter((tag) => {
        return parseInt(tag.id) !== tagId
      })
      this.refreshFilter()
      this.focusInput()
    },

    refreshFilter () {
      this.filteredTags = this.allTags.filter((tag) => {
        return (
          tag.name.toLowerCase().includes(this.textFilter.toLowerCase()) &&
          !this.selectedTags.find(selectedTag => selectedTag.id === tag.id)
        )
      })
    },

    handleBackspaceKey () {
      if (!this.textFilter && this.selectedTags.length > 0) {
        const lastBreed = this.selectedTags[this.selectedTags.length - 1]
        this.selectedTags.pop()
        this.textFilter = lastBreed.name
      }
    },

    handleEnterKey () {
      if (this.isFilterDisplayed) {
        this.selectedTags.push(this.filteredTags[0])
        this.textFilter = ''
      }
    },

    focusInput () {
      (this.$refs.breedFilterInput as HTMLElement).focus()
    }
  }
})
</script>
