@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

// For desktops
@include responsive-invisibility('.visible-xs');
@include responsive-invisibility('.visible-sm');
@include responsive-invisibility('.visible-md');
@include responsive-invisibility('.visible-lg');


@media (max-width: $breakpoint-mobile-max) {
    @include responsive-visibility('.visible-xs');
}

@media (min-width: $breakpoint-tablet-min) {
    @include responsive-visibility('.visible-sm');
}

@media (min-width: $breakpoint-mobile-min){
    @include responsive-visibility('.visible-md');
}

@media (min-width: $breakpoint-desktop-min){
    @include responsive-visibility('.visible-lg');
}


@media (max-width: $breakpoint-mobile-max) {
    @include responsive-invisibility('.hidden-xs');
}

@media (min-width: $breakpoint-tablet-min) {
    @include responsive-invisibility('.hidden-sm');
}

@media (min-width: $breakpoint-mobile-min) {
    @include responsive-invisibility('.hidden-md');
}

@media (min-width: $breakpoint-desktop-min) {
    @include responsive-invisibility('.hidden-lg');
}
