<template>
  <div
    v-if="sufficientPerms"
    class="ani-sidebar-menu-item-wrapper"
  >
    <hr v-if="item.separator">
    <div
      v-if="item.title"
      class="ani-sidebar-menu-title"
    >
      {{ item.title }}
    </div>

    <a
      v-if="item.external"
      :href="item.to"
      target="_blank"
      class="ani-sidebar-menu-item"
      :class="{ 'active' : isActiveLink }"
      :title="item.text"
    >
      <div v-if="item.faIcon" class="menu-icon">
        <font-awesome-icon :icon="[ 'fas', item.faIcon ]" size="lg" />
      </div>

      <div class="menu-label">
        <span>{{ item.text }}</span>
      </div>
    </a>

    <nuxt-link
      v-else
      class="ani-sidebar-menu-item"
      :class="{ 'active' : isActiveLink }"
      :to="item.to"
      :title="item.text"
    >
      <div v-if="item.faIcon" class="menu-icon">
        <font-awesome-icon :icon="[ 'fas', item.faIcon ]" size="lg" />
      </div>

      <div class="menu-label">
        <span>{{ item.text }}</span>
      </div>
    </nuxt-link>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { AniSidebarItem } from './SidebarMenu.vue'
import { accountType } from '~/utils/types'

export default Vue.extend({
  props: {
    item: {
      type: Object as () => AniSidebarItem,
      required: true
    }
  },

  computed: {
    sufficientPerms (): boolean {
      if (!this.item.userType) {
        return true
      }

      if (this.$auth.loggedIn) {
        if (this.item.userType === accountType(this.$auth.user)) {
          return true
        }
      }

      return false
    },

    isActiveLink () {
      if (this.$nuxt.$route.path === this.item.to) {
        return true
      } else {
        return false
      }
    }
  }
})
</script>

<style lang="scss" scoped>
.ani-sidebar-menu-item-wrapper {
  hr {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 1px;
    border-color: rgba($gray-700, 0.15);
  }

  .ani-sidebar-menu-item {
    &:not(.active) {
      color: $gray-700;
      font-weight: $fw-bold;

      &:hover {
        color: $primary;
      }

      &:focus-within {
        .menu-icon, .menu-label {
          color: $primary;
        }
      }
    }
  }
}

// Desktop queries
@media only screen and (min-width: $breakpoint-mobile-min) {
  .ani-sidebar-menu-item-wrapper {
    width: $sidebar-width-desktop;
    transition: width 0.3s ease-in-out;

    .menu-label,
    .ani-sidebar-menu-title {
      transition: opacity 0.3s ease-in-out;
    }

    .ani-sidebar-menu-title {
      margin-top: 15px;
      margin-bottom: 5px;
      margin-left: 20px;
      text-transform: uppercase;
      color: $gray-400;
      font-size: $fs-small;
      font-weight: $fw-extrabold;
      font-family: $heading-font-family;
    }

    .ani-sidebar-menu-item {
      position: relative;
      padding: 15px 15px 15px 60px;
      display: block;
      color: inherit;
      text-decoration: none;
      font-family: $heading-font-family;

      &.active {
        color: $white;
        background: $primary;
        font-weight: $fw-black;
      }

      .menu-icon {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        width: 30px;
        text-align: center;
      }
    }
  }
}

// Mobile queries
@media only screen and (max-width: $breakpoint-mobile-max) {
  .ani-sidebar-menu-item-wrapper {
    position: relative;
    padding: 10px 0;
    text-align: center;

    hr {
      margin-right: 10px;
    }

    .ani-sidebar-menu-title {
      display: none;
    }

    .ani-sidebar-menu-item {
      display: inline-block;
      padding: 10px;

      &.active {
        color: $primary;

        .menu-label {
          text-decoration: underline;
          text-underline-offset: 2px;
        }
      }

      .menu-icon {
        font-size: 15px;
      }

      .menu-label {
        padding: 0 5px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(3px);
        font-size: 0.7em;
        font-weight: $fw-black;
      }
    }
  }
}
</style>
