<template>
  <ul class="ani-sidebar-menu no-style">
    <li v-for="(item, index) in menu" :key="index">
      <AniSidebarMenuItem :item="item" />
    </li>
  </ul>
</template>

<script lang="ts">
import Vue from 'vue'

export interface AniSidebarItem {
  title?: string;
  text: string;
  to: string;
  userType?: string;
  external?: boolean;
  faIcon?: string;
  separator?: boolean;
}

const menuAdopter: AniSidebarItem[] = [
  {
    text: 'Accueil',
    to: '/',
    faIcon: 'home'
  },
  {
    text: 'Animaux',
    to: '/animals/',
    faIcon: 'paw'
  },
  {
    text: 'Favoris',
    to: '/likes/',
    userType: 'adopter',
    faIcon: 'heart'
  },
  {
    text: 'Refuges',
    to: '/r/',
    faIcon: 'seedling'
  },
  {
    title: 'L\'Univers Anidopt',
    text: 'Concept',
    to: '/concept',
    faIcon: 'lightbulb',
    separator: true
  },
  {
    text: 'Partenaires',
    to: '/affiliates',
    faIcon: 'handshake'
  },
  // {
  //   text: 'Blog',
  //   to: 'https://anidopt.bzh/blog',
  //   external: true,
  //   faIcon: 'th-large'
  // },
  {
    text: 'Contactez-nous !',
    to: '/contact-us/',
    faIcon: 'paper-plane'
  }
]

export default Vue.extend({
  computed: {
    menu () {
      return menuAdopter
    }
  }
})
</script>

<style lang="scss" scoped>
@media only screen and (min-width: $breakpoint-mobile-max) {
  .ani-sidebar-menu {
    padding: 25px 0;
  }
}

@media only screen and (max-width: $breakpoint-mobile-max) {
  .ani-sidebar-menu {
    padding: 10px 0;
  }
}
</style>
