<template>
  <aside
    class="ani-sidebar"
    :class="{
      'opened': isSidebarOpened
    }"
  >
    <AniSidebarMenu />
  </aside>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  computed: {
    isSidebarOpened (): boolean {
      return this.$store.getters['globals/drawerOpen']
    }
  }
})
</script>

<style lang="scss" scoped>
.ani-sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: calc(100vh - #{$navbar-height-desktop});
  z-index: $z-navigation - 1;
  background-color: $white;
  overflow-y: auto;
  overflow-x: hidden;
  transition: left 0.25s ease-in-out;
}

// Desktop queries
@media only screen and (min-width: $breakpoint-mobile-max) {
  .ani-sidebar {
    overflow: auto;
    top: $navbar-height-desktop;
    width: $sidebar-width-desktop;
    transition: width 0.3s ease-in-out;

    @include ani-scrollbar();
  }
}

// Mobile queries
@media only screen and (max-width: $breakpoint-mobile-max) {
  .ani-sidebar {
    top: $navbar-height-mobile;
    width: $sidebar-width-mobile;

    // &.opened {
    //   left: -$sidebar-width-mobile;
    // }

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }
}
</style>

<style lang="scss">
// Desktop query
@media only screen and (min-width: $breakpoint-mobile-max) {
  .ani-sidebar {
    transition: width 0.3s ease-in-out;
    overflow: hidden !important;

    &:not(.opened) {
      width: 60px;

      .ani-sidebar-menu-item-wrapper {
        .menu-label,
        .ani-sidebar-menu-title {
          opacity: 0;
        }
      }
    }

    .ani-sidebar-menu-item-wrapper {
      overflow: hidden;

      .menu-label,
      .ani-sidebar-menu-title {
        white-space: nowrap;
        transition: opacity 0.3s ease-in-out;
      }

      .menu-label {
        transition: color 0.15s ease, background-color 0.15s ease;
      }
    }
  }
}

// Mobile query
@media only screen and (max-width: $breakpoint-mobile-max) {
  .ani-sidebar {

    &:not(.opened) {
      left: -$sidebar-width-mobile;
    }
  }
}

</style>
