<template>
  <div
    class="ani-badge"
    :class="variant"
  >
    <span class="ani-badge-icon">
      <slot name="icon" />
    </span>

    <slot />

    <span
      v-if="closable"
      class="ani-badge-close"
      @click="closeBadge"
    >
      <font-awesome-icon
        :icon="[ 'fas', 'times' ]"
      />
    </span>
  </div>
</template>

<script lang="ts">
import mixins from 'vue-typed-mixins'

import { ButtonLike } from '~/mixins/atoms/Buttons'

export default mixins(ButtonLike).extend({
  props: {
    closable: {
      type: Boolean,
      default: false
    }
  },

  methods: {
    closeBadge (e: Event) {
      e.preventDefault()
      this.$emit('close')
    }
  }
})
</script>

<style lang="scss">
.ani-badge {
  padding: 7px 15px;
  margin-right: 7px;
  margin-bottom: 7px;
  display: inline-block;
  font-size: $fs-small;
  border-radius: 20px;

  &.primary {
    color: $white;
    background: $primary;

    &:focus {
      box-shadow: 0 0 0 4px rgba($primary, 0.25);
    }

    &:hover {
      background: $primary-dark;
    }
  }

  &.red {
    color: $white;
    background: $red;

    &:focus {
      box-shadow: 0 0 0 4px rgba($red, 0.25);
    }

    &:hover {
      background: darken($red, 10%);
    }
  }

  .ani-badge-icon {
    margin-right: 5px;
  }

  .ani-badge-close {
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 3px;
    cursor: pointer;
  }
}
</style>
