<template>
  <div class="form-group" :class="{ 'inline': inline }">
    <div :class="`form-${type}`">
      <nuxt-link
        v-if="to"
        :to="to"
        class="btn"
        :class="[
          `btn-${ variant }`,
          { 'btn-small': small },
          { 'btn-ghost' : ghost }
        ]"
      >
        <slot />
      </nuxt-link>
      <button
        v-else
        :type="type"
        :role="type"
        class="btn"
        :class="[
          `btn-${ variant }`,
          { 'btn-small': small },
          { 'btn-ghost' : ghost }
        ]"
        :disabled="disabled"
      >
        <slot />
      </button>
    </div>

    <div
      v-if="$slots.tooltip"
      class="form-tooltip"
      :class="{ 'form-error' : error }"
    >
      <slot name="tooltip" />
    </div>
  </div>
</template>

<script lang="ts">
import mixins from 'vue-typed-mixins'
import { ButtonLike } from '~/mixins/atoms/Buttons'

export default mixins(ButtonLike).extend({
  props: {
    type: {
      type: String,
      default: 'button',
      validator: val => ['button', 'link', 'submit'].includes(val)
    },

    to: {
      type: String,
      default: undefined,
      required: false
    },

    ghost: {
      type: Boolean,
      default: false
    }
  }
})
</script>

<style lang="scss">
.btn {
  padding: 8px 21px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 30px;
  background: none;
  cursor: pointer;

  &:only-child {
    margin-right: 8px;
  }

  &.btn-primary {
    color: $white;
    background: $primary;
    transition: color .4s ease-in-out, background .4s ease-in-out, box-shadow 0.25s linear;

    &:not(:disabled),
    &:not(.disabled) {
      &:hover {
        background: $primary-dark;
      }

      &:focus {
        box-shadow: 0 0 0 4px rgba($primary, 0.25);
      }
    }
  }

  &.btn-secondary {
    color: $white;
    background: $secondary;

    &:not(:disabled),
    &:not(.disabled) {
      &:hover {
        background: $secondary-dark;
      }

      &:focus {
        box-shadow: 0 0 0 4px rgba($secondary, 0.25);
      }
    }
  }

  &.btn-ghost {
    background: none;

    &.btn-primary {
      color: $primary;
      border-color: $primary;

      &:not(:disabled),
      &:not(.disabled) {
        &:hover {
          color: $white;
          background: $primary-dark;
          border-color: $primary-dark;
        }
      }
    }

    &.btn-secondary {
      color: $secondary;
      border-color: $secondary;

      &:not(:disabled),
      &:not(.disabled) {
        &:hover {
          color: $white;
        }
      }
    }
  }

  &.btn-small {
    padding: 8px 15px;
    font-size: $fs-small;
  }

  & ~ & {
    margin-left: 5px;
  }

  &:focus {
    outline: none;
  }
}

a.btn {
  text-decoration: none;
}
</style>
