<template>
  <div
    class="form-group"
    :class="[
      { 'form-error' : error },
      { 'form-warning' : warning },
      { 'form-valid' : valid },
      { 'borderless' : borderless }
    ]"
  >
    <div class="form-input form-text">
      <label v-if="label" :id="`${id}-label`" :for="id">
        <span>{{ label }}</span>
        <slot name="label-help" />
      </label>

      <div class="input-wrapper">
        <input
          :id="id"
          type="file"
          :value="value"
          :required="required"
          :name="id"
          :aria-label="id"
          :placeholder="placeholder"
          :disabled="disabled"
          :aria-labelledby="`${id}-label`"
          :autocomplete="autocomplete"
          @input="handleInput"
        >
      </div>
    </div>

    <div
      v-if="$slots.tooltip"
      class="form-tooltip"
      :class="{ 'form-error' : error }"
    >
      <slot name="tooltip" />
    </div>
  </div>
</template>

<script lang="ts">
import mixins from 'vue-typed-mixins'

import { TextInput } from '~/mixins/atoms/Inputs'

export default mixins(TextInput).extend({
  props: {
    autocomplete: {
      type: String,
      default: ''
    },

    isEmail: {
      type: Boolean,
      default: false
    }
  },

  methods: {
    handleInput (e: Event) {
      const output = (e.target as HTMLInputElement).value
      this.$emit('input', output)
    }
  }
})
</script>

<style lang="scss" scoped>
  @include ani-text-input;
</style>
