<template>
  <div
    class="form-group"
    :class="[
      { 'form-error' : error },
      { 'form-warning' : warning },
      { 'form-valid' : valid },
      { 'borderless' : borderless }
    ]"
  >
    <div class="form-input form-text">
      <label v-if="label" :id="`${id}-label`" :for="id">
        <span>{{ label }}</span>
        <slot name="label-help" />
      </label>

      <div class="input-wrapper">
        <input
          :id="id"
          :value="value"
          :type="isVisible ? 'text' : 'password' "
          :required="required"
          :name="id"
          :placeholder="placeholder"
          :disabled="disabled"
          :autocomplete="isNew ? 'new-password' : 'current-password'"
          :aria-labelledby="`${id}-label`"
          @input="handleInput"
        >

        <button
          class="toggle-visibility no-style"
          tabindex="0"
          :aria-label="isVisible ? 'Masquer le mot de passe' : 'Afficher le mot de passe'"
          type="button"
          @click="toggleVisibility"
        >
          <div :class="{ 'display-none': isVisible }">
            <font-awesome-icon :icon="['fas', 'eye']" />
          </div>
          <div :class="{ 'display-none': !isVisible }">
            <font-awesome-icon :icon="['fas', 'eye-slash']" />
          </div>
        </button>
      </div>
    </div>

    <div
      v-if="$slots.tooltip"
      class="form-tooltip"
      :class="{ 'form-error' : error }"
    >
      <slot name="tooltip" />
    </div>
  </div>
</template>

<script lang="ts">
import mixins from 'vue-typed-mixins'

import { TextInput } from '~/mixins/atoms/Inputs'

export default mixins(TextInput).extend({
  props: {
    isNew: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      isVisible: false
    }
  },

  methods: {
    toggleVisibility () {
      this.isVisible = !this.isVisible
    }
  }
})
</script>

<style lang="scss" scoped>
@include ani-text-input;

.form-input {
  .input-wrapper {
    position: relative;

    .toggle-visibility {
      position: absolute;
      padding: 4px;
      top: 50%;
      transform: translateY(-50%);
      right: 7px;
      font-size: 1.1em;
      cursor: pointer;
    }
  }
}
</style>
