<template>
  <div class="ani-round-btn-wrapper">
    <nuxt-link
      v-if="to"
      :to="to"
      class="ani-round-btn"
      :class="[
        variant,
        { 'disabled': disabled }
      ]"
      :event="disabled ? '': 'click'"
    >
      <slot />
    </nuxt-link>
    <button
      v-else
      class="ani-round-btn"
      :class="[
        variant,
        { 'disabled': disabled }
      ]"
      :type="(submit) ? 'submit' : 'button'"
      :event="disabled ? '': 'submit'"
    >
      <slot />
    </button>
  </div>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({
  props: {
    to: {
      type: String,
      required: false,
      default: ''
    },

    variant: {
      type: String,
      required: false,
      default: 'primary'
    },

    disabled: {
      type: Boolean,
      required: false,
      default: false
    },

    submit: {
      type: Boolean,
      required: false,
      default: false
    }
  }
})
</script>

<style lang="scss" scoped>
.ani-round-btn-wrapper {
  .ani-round-btn {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.2em;
    text-align: center;
    color: $white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    @include drop-shadow();

    &.disabled {
      background-color: $gray-300;
    }

    &:not(.disabled) {
      &.primary {
        background-color: $primary;
        &:hover {
          background-color: darken($primary, 10%);
        }
      }

      &.secondary {
        background-color: $secondary;
        &:hover {
          background-color: darken($secondary, 10%);
        }
      }

      &.red {
        background-color: $red;
        &:hover {
          background-color: darken($red, 10%);
        }
      }

      &.blue {
        background-color: $blue;
        &:hover {
          background-color: darken($blue, 10%);
        }
      }

      &.green {
        background-color: $green;
        &:hover {
          background-color: darken($green, 10%);
        }
      }

      &.black {
        background-color: $black;
        &:hover {
          color: $red;
        }
      }
    }
  }
}
</style>
