<template>
  <div
    class="form-group"
    :class="[
      { 'form-error' : error },
      { 'form-warning' : warning },
      { 'form-valid' : valid },
      { 'borderless' : borderless }
    ]"
  >
    <div class="form-input form-input">
      <label v-if="label" :id="`${id}-label`" :for="id">
        <span>{{ label }}</span>
        <slot name="label-help" />
      </label>

      <div v-if="value" class="input-wrapper">
        <select
          :id="id"
          :required="required"
          :name="id"
          :aria-label="id"
          :placeholder="placeholder"
          :disabled="disabled"
          :aria-labelledby="`${id}-label`"
          @change="handleInput"
        >
          <option
            v-for="option in pool"
            :key="option.id"
            :value="option.id"
            :selected="value.id == option.id"
          >
            {{ option.name }}
          </option>
        </select>
      </div>
    </div>

    <div
      v-if="$slots.tooltip"
      class="form-tooltip"
      :class="{ 'form-error' : error }"
    >
      <slot name="tooltip" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    value: {
      type: Object,
      default: () => { return {} }
    },

    pool: {
      type: Array,
      default: () => [] as any[]
    },

    defaultId: {
      type: Number,
      default: 1,
      required: false
    },

    id: {
      type: String,
      required: true
    },

    label: {
      type: String,
      default: ''
    },

    required: {
      type: Boolean,
      default: false
    },

    placeholder: {
      type: String,
      default: ''
    },

    disabled: {
      type: Boolean,
      default: false
    },

    error: {
      type: Boolean,
      default: false
    },

    warning: {
      type: Boolean,
      default: false
    },

    valid: {
      type: Boolean,
      default: false
    },

    borderless: {
      type: Boolean,
      default: false
    }
  },

  methods: {
    handleInput (e: Event) {
      const optionId = parseInt((e.target as HTMLInputElement).value)
      const selectedOption = this.pool.find(option => option.id === optionId)
      this.$emit('input', selectedOption)
    }
  }
})
</script>

<style lang="scss" scoped>
  @include ani-text-input;
</style>
