<template>
  <div class="form-group">
    <div class="form-input form-check">
      <div class="input-wrapper">
        <input
          :id="id"
          type="checkbox"
          :checked="value"
          :required="required"
          :name="id"
          :aria-label="id"
          :disabled="disabled"
          :aria-labelledby="`${id}-label`"
          @input="handleInput"
        >
      </div>

      <label v-if="primaryLabel" :id="`${id}-label`" :for="id">
        <span
          v-if="secondaryLabel"
          class="secondary-label"
          :class="{ 'opacity-30' : value }"
        >
          {{ secondaryLabel }}
        </span>
        <span
          class="form-check-toggle"
          :class="{ 'checked' : value }"
        />
        <span
          v-if="primaryLabel"
          class="primary-label"
          :class="{ 'opacity-30' : !value }"
        >
          {{ primaryLabel }}
        </span>
      </label>
    </div>

    <div
      v-if="$slots.tooltip"
      class="form-tooltip"
      :class="{ 'form-error' : error }"
    >
      <slot name="tooltip" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    value: {
      type: Boolean,
      required: true
    },

    id: {
      type: String,
      required: true
    },

    primaryLabel: {
      type: String,
      default: ''
    },

    secondaryLabel: {
      type: String,
      default: ''
    },

    variant: {
      type: String,
      default: 'primary',
      validator: val => ['primary', 'secondary'].includes(val)
    },

    required: {
      type: Boolean,
      default: false
    },

    disabled: {
      type: Boolean,
      default: false
    },

    error: {
      type: Boolean,
      default: false
    }
  },

  methods: {
    handleInput (e: Event) {
      const output = (e.target as HTMLInputElement).checked
      this.$emit('input', output)
    }
  }
})
</script>

<style lang="scss" scoped>
.form-group {
  .form-check {
    padding-left: 0;

    .input-wrapper {
      input[type=checkbox] {
        display: none;
      }
    }

    label {
      display: inline-flex;
      align-items: center;
      cursor: pointer;

      .primary-label {
        margin-left: 10px;
      }

      .secondary-label {
        margin-right: 10px;
      }

      .primary-label, .secondary-label {
        transition: opacity 0.3s ease-in-out;
      }

      .form-check-toggle {
        position: relative;
        display: inline-block;
        background-color: $gray-200;
        width: 50px;
        height: $fs-medium;
        border-radius: $fs-medium;
        transition: background-color 0.3s ease-in-out;

        &:before {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 6px;
          display: inline-block;
          content: '';
          height: calc(#{$fs-medium} - 12px);
          width: calc(#{$fs-medium} - 12px);
          border-radius: $fs-medium;
          background-color: $primary;
          transition: left 0.3s ease-in-out, background-color 0.3s ease-in-out;
        }

        &.checked {
          background-color: $primary;

          &:before {
            left: 32px;
            background-color: $white;
          }
        }
      }
    }
  }
}
</style>
