<template>
  <nuxt-link
    class="ani-tag"
    :class="variant"
    :to="to"
  >
    <span class="ani-tag-icon">
      <font-awesome-icon :icon="['fas', 'tag']" />
    </span>

    <slot />
  </nuxt-link>
</template>

<script lang="ts">
import mixins from 'vue-typed-mixins'

import { ButtonLike } from '~/mixins/atoms/Buttons'

export default mixins(ButtonLike).extend({
  props: {
    to: {
      type: String,
      default: undefined,
      required: false
    }
  }
})
</script>

<style lang="scss">
.ani-tag {
  padding: 5px;
  margin-right: 7px;
  margin-bottom: 7px;
  display: inline-block;
  font-size: $fs-small;

  &.primary {
    color: $primary;

    &:hover {
      color: $primary-dark;
    }
  }

  .ani-badge-icon {
    margin-right: 5px;
  }

  .ani-badge-close {
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 3px;
    cursor: pointer;
  }
}
</style>
