<template>
  <div class="ani-placeholder">
    <span v-for="line in lines" :key="line" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    lines: {
      type: Number,
      default: 1
    }
  }
})
</script>

<style lang="scss">
.ani-placeholder {
  span {
    display: block;
    height: 1em;
    padding: 10px;
    background: $gray-200;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
</style>
