<template>
  <main class="sign-in-page">
    <div class="heading-1">
      Connexion
    </div>
    <AniFormLogin />
  </main>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  middleware: 'auth',
  auth: 'guest',

  head () {
    return {
      titleTemplate: 'Connexion - %s',
      meta: [
        { hid: 'description', name: 'description', content: 'Connectez-vous à votre espace Anidopt.' }
      ]
    }
  }
})
</script>
