<template>
  <div class="ani-card-wrapper">
    <section class="ani-card">
      <div class="ani-card-header">
        <div class="container-fluid">
          <div class="row align-center">
            <div class="col-md-12">
              <h3>{{ shelter.name }}</h3>
              <p v-if="shelter.account.city">
                <span>Refuge basé à</span>
                <a v-if="shelter.account.city" :href="`https://maps.google.com/?q=${shelter.account.city}`" target="_blank">{{ shelter.account.city }}</a>
                <span v-if="shelter.account.zipcode">, {{ shelter.account.zipCode }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="ani-card-footer">
        <div class="container-fluid">
          <div class="row align-center">
            <div class="col-md-12">
              <AtoButton
                :to="`/r/${shelter.slug}`"
                variant="primary"
                small
                inline
              >
                Voir le refuge
              </AtoButton>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { Shelter } from '~/models/users/Shelter'

export default Vue.extend({
  props: {
    shelter: {
      type: Object as PropType<Shelter>,
      required: true
    }
  }
})
</script>

<style>

</style>
