<template>
  <div
    class="ani-wrapper"
    :class="{
      'sidebar-opened': isSidebarOpened
    }"
  >
    <AniNavbar />
    <AniSidebar />
    <div class="ani-content">
      <Nuxt />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  computed: {
    isSidebarOpened (): boolean {
      return this.$store.getters['globals/drawerOpen']
    }
  }
})
</script>
