<template>
  <main class="error-page">
    <h1>Erreur {{ error.statusCode }} :(</h1>
    <p>{{ message }}</p>
    <AtoButton type="link" to="/">
      Retour à l'accueil
    </AtoButton>
  </main>
</template>

<script lang="ts">
import { NuxtError } from '@nuxt/types'
import Vue, { PropType } from 'vue'

export default Vue.extend({
  props: {
    error: {
      type: Object as PropType<NuxtError>,
      required: true
    }
  },

  computed: {
    message () {
      let message = 'Une erreur inconnue est survenue.'

      switch (this.error.statusCode) {
        case 404:
          message = "La page que vous avez demandé n'existe pas ou plus ; nous vous conseillons d'affiner votre recherche ou de vérifier l'adresse de votre navigateur !"
          break

        case 403:
          message = "Vous n'êtes pas autorisé à consulter cette ressource."
          break
      }

      return message
    }
  }
})
</script>
