<template>
  <div
    class="ani-wrapper"
    :class="{
      'sidebar-opened': isSidebarOpened
    }"
  >
    <AniNavbar />
    <AniSidebar />
    <div class="ani-content">
      <Nuxt />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'Feed',
  computed: {
    isSidebarOpened (): boolean {
      return this.$store.getters['globals/drawerOpen']
    }
  }
})
</script>

<style lang="scss" scoped>
// From Desktop
@media only screen and (min-width: $breakpoint-mobile-max) {
  .ani-wrapper {
    .ani-content {
      padding: 30px $sidebar-width-desktop 30px 30px;
    }
  }
}

// Up to Tablet
@media only screen and (max-width: $breakpoint-tablet-max) {
  .ani-wrapper {
    .ani-content {
      padding: 30px;
    }
  }
}
</style>
