<template>
  <main class="animal-page feed">
    <AniPetsCardUpdate v-if="isCurrentUser" :pet="pet" full />
    <AniPetsCard v-else :pet="pet" full />
  </main>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  layout: 'feed',

  async asyncData ({ params, $api, $auth }) {
    const pet = await $api.pets.getOneByUuid(params.uuid)

    const isCurrentUser = ($auth.user?.slug) === pet.shelter.slug
    let description = `${pet.name} est en adoption sur Anidopt !`

    if (pet.isMale) {
      description = description + " Le refuge souhaite trouver une famille d'accueil au plus vite !"
    }

    description = description + ` Contactez le refuge ${pet.shelter.name} à ${pet.shelter.account.city} pour plus d'informations.`

    return { pet, isCurrentUser, description }
  },

  head (this: any) {
    return {
      titleTemplate: `${this.pet.name} - %s`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.description
        }
      ]
    }
  }
})
</script>
