<template>
  <main class="animals-page feed">
    <h1>Animaux</h1>
    <AniPetsList :pets="pets" big deployable />
  </main>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  layout: 'feed',

  async asyncData ({ store, $api }) {
    const pets = await store.dispatch('pets/loadPets', $api)

    return { pets }
  },

  head () {
    return {
      titleTemplate: 'Animaux - %s'
    }
  }
})
</script>
