<template>
  <main class="content-page">
    <header class="hero">
      <figure>
        <img
          src="/affiliates-hero.jpg"
        >
      </figure>

      <div class="ani-card-wrapper">
        <div class="ani-card">
          <div class="ani-card-header">
            <h1>
              Les amis d'Anidopt
            </h1>
          </div>
          <div class="ani-card-body">
            <div class="row logos">
              <div class="col-md-4">
                <img src="/logo/atavik-logo.jpg" alt="atavik">
              </div>
              <div class="col-md-4">
                <img src="/logo/bioty-croq-logo.jpg" alt="atavik">
              </div>
              <div class="col-md-4">
                <img src="/logo/tomojo.png" alt="atavik">
              </div>
            </div>
            <p>Note : Les partenaires affichés ici n'ont aucun lien avec Anidopt et ne sont présents ici qu'en terme d'échantillon.</p>
          </div>
        </div>
      </div>
    </header>
  </main>
</template>

<style lang="scss" scoped>
.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: calc(3vw + 10px);

  img {
    display: block;
    height: 100px;
    width: auto;
    margin: auto;
    max-width: 100%;
  }
}
</style>
