<template>
  <main class="content-page">
    <header class="hero">
      <figure>
        <img
          src="/concept-hero.jpg"
        >
      </figure>

      <div class="ani-card-wrapper">
        <div class="ani-card">
          <div class="ani-card-header">
            <h1>
              Anidopt, qu’est-ce que c’est ?
            </h1>
          </div>
          <div class="ani-card-body">
            <p>Anidopt est le résultat d’une valeur commune partagée par tous les membres de notre équipe : <strong>le bien-être animal</strong> !</p>
            <p>À travers Anidopt nous voulons permettre aux animaux issus de refuges d’avoir <strong>une seconde chance auprès d’une famille</strong> qui sera en totale cohérence avec les besoins spécifiques de chaque animal. </p>
          </div>
          <div class="ani-card-header">
            <h2>Et comment ça se passe sur Anidopt ?</h2>
          </div>
          <div class="ani-card-body">
            <p>Notre objectif est d’offrir une adoption réussie aussi bien à l’animal mais aussi pour vous, futurs adoptants. Nous ne souhaitons pas une adoption rapide mais plutôt une adoption responsable !</p>
          </div>
        </div>
      </div>
    </header>

    <hr>

    <section>
      <div class="row">
        <div class="col-md-4">
          <div class="ani-card-wrapper">
            <div class="ani-card">
              <div class="ani-card-header">
                <h3 class="txt-center">Avant l'adoption</h3>
              </div>
              <div class="ani-card-body">
                <p>Prenez <strong>un rendez-vous personnalisé avec un professionnel</strong> d’un refuge pour approfondir votre mode de vie actuel ainsi que vos attentes.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ani-card-wrapper">
            <div class="ani-card">
              <div class="ani-card-header">
                <h3 class="txt-center">Pendant l'adoption</h3>
              </div>
              <div class="ani-card-body">
                <p>Tous les animaux présentés sur Anidopt, seront des animaux qui ont <strong>une histoire en cohérence avec vos habitudes de vie</strong> et qui correspondront à vos attentes.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ani-card-wrapper">
            <div class="ani-card">
              <div class="ani-card-header">
                <h3 class="txt-center">Après l'adoption</h3>
              </div>
              <div class="ani-card-body">
                <p>Retrouvez sur notre boutique en ligne des kits de démarrage pour une adoption sereine.</p>
                <p>Nous vous proposons également un guide post-adoption qui vous offre conseils, bonnes adresses pour que votre adoption soit réussie. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  head () {
    return {
      titleTemplate: 'Concept - %s',
      meta: [
        {
          hid: 'concept_description',
          name: 'description',
          content: 'Découvrez le concept Anidopt !'
        }
      ]
    }
  }
})
</script>
