<template>
  <main class="content-page">
    <header class="hero">
      <figure>
        <img
          src="/contact-hero.jpg"
        >
      </figure>

      <div class="ani-card-wrapper">
        <div class="ani-card">
          <div class="ani-card-header">
            <h1>
              Curieux ? Envoyez-nous un message !
            </h1>
          </div>
          <div class="ani-card-body">
            <p>Vous pouvez nous contacter sur les adresses mails de l'application. Si vous désirez un accompagnement personnalisé, vous pouvez notifier le service conseil Anidopt.</p>
            <p>anidopt@contact.com</p>
            <p>anidopt@hiring.com</p>
          </div>
        </div>
      </div>
    </header>
  </main>
</template>
