<template>
  <div>
    <main v-if="isShelter" class="settings-page">
      <AniDashboardShelter :shelter="currentUser" />
    </main>
    <main v-else-if="isAdopter" class="settings-page">
      <AniDashboardAdopter />
    </main>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { accountType } from '~/utils/types'

export default Vue.extend({
  middleware: 'auth',
  auth: true,

  data () {
    return {
      currentUser: this.$auth.$storage.getState('user')
    }
  },

  head () {
    return {
      titleTemplate: 'Paramètres - %s'
    }
  },

  computed: {
    isShelter () {
      return accountType(this.$auth.user) === 'shelter'
    },
    isAdopter () {
      return accountType(this.$auth.user) === 'adopter'
    }
  }
})
</script>
