<template>
  <form class="ani-form" method="POST" :class="form.loading ? 'opacity-50' : ''" @submit="handleForgotPasswordConfirmForm">
    <AtoInput
      id="email"
      :value="email"
      :error="Boolean(errors.email)"
      label="Adresse mail"
      is-email
      disabled
    >
      <template slot="tooltip">
        <small v-if="errors.email">{{ errors.email }}</small>
        <small v-else>Renseignez l'adresse liée à votre compte Anidopt</small>
      </template>
    </AtoInput>

    <AtoInputPassword
      id="new-password"
      v-model="input.password"
      label="Nouveau mot de passe"
      is-new
      required
    >
      <template slot="tooltip">
        <small v-if="errors.password" class="form-error">{{ errors.password }}</small>
      </template>
    </AtoInputPassword>

    <AtoButton
      type="submit"
      :disabled="form.submitted || form.finished ? true : false"
    >
      Réinitialiser
    </AtoButton>

    <div v-if="errors.form" class="form-error-handler">
      <small class="form-error">{{ errors.form }}</small>
    </div>
  </form>
</template>

<script lang="ts">
import mixins from 'vue-typed-mixins'
import { Forms } from '~/mixins/Forms'

import { isFormValid, resetFormErrors } from '~/utils/forms'

export default mixins(Forms).extend({
  props: {
    email: {
      type: String,
      required: true
    },

    token: {
      type: String,
      length: 32,
      required: true
    }
  },

  data () {
    return {
      input: {
        password: ''
      },

      errors: {
        password: ''
      }
    }
  },

  methods: {
    /**
     * Takes the data held by the form, checks it, and displays errors if needed
     * It then calls the forgotPasswordConfirm function to complete the password reset process
     */
    handleForgotPasswordConfirmForm (e: Event) {
      e.preventDefault()

      // Check if the form has already been submitted
      if (this.form.submitted) {
        return
      }

      this.form.loading = true
      this.errors = resetFormErrors(this.errors)

      if (!this.input.password) {
        this.errors.password = 'Veuillez renseigner votre nouveau mot de passe.'
      }

      // Stops submission if the form contains errors
      if (!isFormValid(this.errors)) {
        this.form.loading = false
        return
      }

      this.form.submitted = true
      this.forgotPasswordConfirm()
    },

    /**
     * Finished and confirms the password reset request
     * To be called only after the form has been handled!
     */
    forgotPasswordConfirm () {
      this.$api.users.forgotPassword({
        email: this.email,
        token: this.token,
        password: this.input.password
      })
        .then(() => {
          this.$router.push('/sign-in')
        })
        .catch((err) => {
          this.errors.form = err.response.message || 'Une erreur inconnue est survenue.'
        })
        .finally(() => {
          this.form.loading = false
          this.form.submitted = false
        })
    }
  }
})
</script>

<style>

</style>
