<template>
  <form class="ani-form" method="POST" :class="form.loading ? 'opacity-50' : ''" @submit="handleForgotPasswordRequestForm">
    <AtoInput
      id="email"
      v-model="input.email"
      :error="Boolean(errors.email)"
      label="Adresse mail"
      is-email
      required
    >
      <template slot="tooltip">
        <small v-if="errors.email">{{ errors.email }}</small>
        <small v-else>Renseignez l'adresse liée à votre compte Anidopt</small>
      </template>
    </AtoInput>

    <AtoButton
      type="submit"
      :disabled="form.submitted ? true : false"
    >
      Envoyer un lien de réinitialisation
    </AtoButton>

    <div v-if="errors.form" class="form-error-handler">
      <small class="form-error">{{ errors.form }}</small>
    </div>
    <small v-if="form.finished">Nous vous avons envoyé un lien de confirmation par email.</small>
  </form>
</template>

<script lang="ts">
import mixins from 'vue-typed-mixins'
import { Forms } from '~/mixins/Forms'

import { isFormValid, isMailValid, resetFormErrors } from '~/utils/forms'

export default mixins(Forms).extend({
  data () {
    return {
      input: {
        email: ''
      },

      errors: {
        email: ''
      }
    }
  },

  methods: {
    /**
     * Takes the data held by the form, checks it, and displays errors if needed
     * It then calls the forgotPasswordRequest function to initiate a password reset and send an email to the user
     */
    handleForgotPasswordRequestForm (e: Event) {
      e.preventDefault()

      // Check if the form has already been submitted
      if (this.form.submitted) {
        return
      }

      this.form.loading = true
      this.errors = resetFormErrors(this.errors)

      if (!this.input.email) {
        this.errors.email = 'Veuillez renseigner votre addresse mail.'
      }

      if (this.input.email && !isMailValid(this.input.email)) {
        this.errors.email = 'Votre email n\'est pas valide ; veuillez en essayer ou en créer un nouveau.'
      }

      // Stops submission if the form contains errors
      if (!isFormValid(this.errors)) {
        this.form.loading = false
        return
      }

      this.form.submitted = true
      this.forgotPasswordRequest()
    },

    /**
     * Sends the password reset request to the API
     * To be called only after the form has been handled!
     */
    forgotPasswordRequest () {
      this.$api.users.forgotPassword({
        email: this.input.email
      })
        .then(() => {
          this.form.finished = true
        })
        .catch((err) => {
          // When the user is not found, swallows the error
          // It will still exist in the console, but at least it doesn't share the fact that an account exists with this email as easily.

          if (err.response.status !== 404) {
            this.errors.form = err.message
          }
        })
        .finally(() => {
          this.form.loading = false
          this.form.submitted = false
        })
    }
  }
})
</script>

<style>

</style>
