<template>
  <main class="forgot-password-page">
    <div class="heading-1">
      Réinitialiser mon mot de passe
    </div>
    <AniFormForgotPassword />
  </main>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  middleware: 'auth',
  auth: 'guest',

  head () {
    return {
      titleTemplate: 'Nouveau mot de passe - %s'
    }
  }
})
</script>
