<template>
  <section class="settings shelter">
    <h1>Paramètres</h1>
    <p>Les paramètres ne sont pas disponibles pour cette version</p>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({})
</script>
