<template>
  <section class="settings shelter">
    <h1>Paramètres</h1>
    <p>Les paramètres ne sont pas disponibles pour cette version</p>
  </section>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { Shelter } from '~/models/users/Shelter'

export default Vue.extend({
  props: {
    shelter: {
      type: Object as PropType<Shelter>,
      required: true
    }
  }
})
</script>
