<template>
  <main class="likes-page feed">
    <h1>Coups de coeur</h1>
    <AniPetsList :pets="favouritePets" big />
  </main>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  layout: 'feed',
  middleware: ['auth', 'adopterOnly'],

  async asyncData ({ $api, $auth }) {
    const uuid = $auth.user?.uuid as string
    const favouritePets = await $api.users.adopters.getFavouritePets(uuid)

    return { favouritePets }
  },

  head () {
    return {
      titleTemplate: 'Mes favoris - %s'
    }
  }
})
</script>
