<template>
  <main class="shelters-page feed">
    <h1>Refuges</h1>
    <AniSheltersCard v-for="shelter in shelters" :key="shelter.uuid" :shelter="shelter" />
  </main>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  async asyncData ({ $api }) {
    const shelters = await $api.users.shelters.getAll()

    return { shelters }
  },

  head () {
    return {
      titleTemplate: 'Refuges - %s',
      meta: [
        { hid: 'description', name: 'description', content: 'Consultez en temps réèl notre annuaire de refuges partenaires. Prenez contact et trouvez votre nouveau compagnon dès aujourd\'hui !' }
      ]
    }
  }
})
</script>
